
<!-- Popup Photo Modal -->
<div class="modal fade" id="showPhotoModal" tabindex="-1" role="dialog" aria-labelledby="showPhotoModal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body" style="text-align:center">
                <img class="popupPhoto" src="" width="500" />
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
