<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- 輸出至檔案的設定 -->
    <target name="file" xsi:type="File"
          layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
          fileName="${basedir}/Logs/logfile.txt"
          archiveFileName="${basedir}/Logs/archives/log.{#}.txt"
          archiveEvery="Day"
          archiveNumbering="Rolling"
          maxArchiveFiles="7"
          concurrentWrites="true"
          keepFileOpen="false"
          encoding="UTF-8" />

    <!-- 輸出至 Windows 事件日誌 -->
    <target name="eventLog" xsi:type="EventLog"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
            source="Huanlin Web Services"
            log="Application" />

    <!-- 寄送 e-mail 的設定 -->
    <target name="mail" xsi:type="Mail"
            smtpServer="msa.hinet.net"
            smtpPort="25"
            smtpAuthentication="None"  
    smtpUserName=""
    smtpPassword=""
    enableSsl="false"  
    from="XXX 網站系統&lt;username@mas.hinet.net&gt;"  
    to="（收信人的 email，以逗號分隔多個信箱）"
    html="true"
    encoding="UTF-8"
    addNewLines="true"
    subject="系統訊息：${machinename} 於 ${shortdate} ${time} 產生 ${level} 等級的紀錄"
    header="========================================================================="
    body="${newline}
    時間：${longdate} ${newline}${newline}
    Log等級：${level:uppercase=true} ${newline}${newline}
    Logger：${logger} ${newline}${newline}
    Source：${callsite:className=true} ${newline}${newline}
    Exception類別：${exception:format=type} ${newline}${newline}
    錯誤訊息：${message} ${newline}${newline}"
    footer="========================================================================="
    />
  </targets>

  <!-- 以下區段決定哪些等級的 log 要輸出到哪裡 -->
  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Warn" writeTo="eventLog" />
    <logger name="*" minlevel="Fatal" writeTo="mail" />
  </rules>
</nlog>