@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/EventCalendar")
@Scripts.Render("~/Scripts/EventCalendar")

<div id="carousel">
</div>

<div id="slideScroll">
    <div id="leftSlideContent">
    </div>
    <div id="leftSlideTab">
    </div>
</div>
