@{
    String video = "video.folder.TzuCheng.Video";
    String img = "video.folder.TzuCheng.Img";
    string frontendRoot = System.Web.Configuration.WebConfigurationManager.AppSettings["website.frontend"];
}
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/Scripts/modernizr.custom.79639.js"></script>
<script type="text/javascript">
    function DropDown(el) {
        this.dd = el;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function () {
            var obj = this;

            obj.dd.on('click', function (event) {
                $(this).toggleClass('active');
                event.stopPropagation();
            });
        }
    }

    $(function () {

        var dd = new DropDown($('#dd'));

        $(document).click(function () {
            // all dropdowns
            $('.wrapper-dropdown-5').removeClass('active');
        });

    });

    $(document).ready(function () {
        $('body').css('top', -(document.documentElement.scrollTop) + 'px').addClass('noscroll');
            //翻頁特效
            //$('.flipbook').turn({
            //    page: 2,
            //    width: 1500,
            //    height: 905,
            //   elevation: 0,
            //    gradients: true,
            //    autoCenter: false,
            //    when: {
            //        start: function (event, pageObject, corner) {
            //            if (pageObject.next == 1)
            //                event.preventDefault();
            //        },
            //        turning: function (event, page, view) {
            //            if (page == 1)
            //                event.preventDefault();
            //        }
            //    }
            //});

            $('.dropdown li').click(function () {
                $('#dd div').text($(this).find('a').text());
                switch ($(this).index()) {
                    case 0:
                        $(".flipbook").turn("page", 2);
                        break;
                    case 1:
                        $(".flipbook").turn("page", 4);
                        break;
                    case 2:
                        $(".flipbook").turn("page", 6);
                        break;
                    case 3:
                        $(".flipbook").turn("page", 8);
                        break;
                    case 4:
                        $(".flipbook").turn("page", 12);
                        break;
                    case 5:
                        $(".flipbook").turn("page", 16);
                        break;
                    case 6:
                        $(".flipbook").turn("page", 22);
                        break;
                    case 7:
                        $(".flipbook").turn("page", 28);
                        break;
                    case 8:
                        $(".flipbook").turn("page", 38);
                        break;
                    case 9:
                        $(".flipbook").turn("page", 48);
                        break;
                    case 10:
                        $(".flipbook").turn("page", 58);
                        break;
                    case 11:
                        $(".flipbook").turn("page", 68);
                        break;
                    case 12:
                        $(".flipbook").turn("page", 78);
                        break;
                    case 13:
                        $(".flipbook").turn("page", 88);
                        break;
                    case 14:
                        $(".flipbook").turn("page", 100);
                        break;
                    case 15:
                        $(".flipbook").turn("page", 112);
                        break;
                    case 16:
                        $(".flipbook").turn("page", 122);
                        break;
                    case 17:
                        $(".flipbook").turn("page", 132);
                        break;
                    case 18:
                        $(".flipbook").turn("page", 144);
                        break;
                    case 19:
                        $(".flipbook").turn("page", 156);
                        break;
                    case 20:
                        $(".flipbook").turn("page", 170);
                        break;
                    case 21:
                        $(".flipbook").turn("page", 184);
                        break;
                    case 22:
                        $(".flipbook").turn("page", 198);
                        break;
                    case 23:
                        $(".flipbook").turn("page", 210);
                        break;
                    case 24:
                        $(".flipbook").turn("page", 224);
                        break;
                    case 25:
                        $(".flipbook").turn("page", 238);
                        break;
                    default:
                        break;
                }
            });
            if ($('#videobtn').length !== 0) {
                $('#videobtn').click(function () {
                    $('#MvDiv').show();
                    $('#MvDiv1').show();
                });
            }
    });
</script>

<div id="bookDiv" class="bookbk">

<script type="text/javascript" src="@frontendRoot/Scripts/book/swfobject.js"></script>
<script type="text/javascript">
    // For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection.
    var swfVersionStr = "15.0.0";
    // To use express install, set to playerProductInstall.swf, otherwise the empty string.
    var xiSwfUrlStr = "@frontendRoot/Scripts/book/playerProductInstall.swf";
    var flashvars = { bookXml: "@frontendRoot/Scripts/book/book_culture_book4.xml" };
    var params = {};
    params.quality = "high";
    params.bgcolor = "#111111";
    params.allowscriptaccess = "sameDomain";
    params.allowfullscreen = "true";
    params.wmode = "transparent";
    var attributes = {};
    attributes.id = "TzuChiBook";
    attributes.name = "TzuChiBook";
    attributes.align = "middle";
    swfobject.embedSWF(
        "@frontendRoot/Scripts/book/TzuChiBook2.swf", "flashContent",
        "1629", "1000",
        swfVersionStr, xiSwfUrlStr,
        flashvars, params, attributes);
    // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
    swfobject.createCSS("#flashContent", "display:block;text-align:left;");
</script>
 <!-- 年度跳頁用-->      
        <script> 
		function changeYearMethod(year)
		{
			thisMovie("TzuChiBook").changeYear(year);			
		}		
		function thisMovie(movieName) 
		{
			if (navigator.appName.indexOf("Microsoft") != -1) 
			{
				return window[movieName];
			} 
			else 
			{
				return document[movieName];
			}
		}
    </script> 
    <div id="flashContent">
        <p>
            To view this page ensure that Adobe Flash Player version
            15.0.0 or greater is installed.
        </p>
        <script type="text/javascript">
            var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
            document.write("<a href='http://www.adobe.com/go/getflashplayer'><img src='"
                            + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>");
        </script>
    </div>

    <noscript>
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="1629" height="1000" id="TzuChiBook">
            <param name="movie" value="@frontendRoot/Scripts/book/TzuChiBook2.swf" />
            <param name="quality" value="high" />
            <param name="bgcolor" value="#111111" />
            <param name="allowScriptAccess" value="sameDomain" />
            <param name="allowFullScreen" value="true" />
            <param name="wmode" value="transparent" />
            <param name=FlashVars value="bookXml=@frontendRoot/Scripts/book/book_culture_book4.xml" />
            <!--[if !IE]>-->
            <object type="application/x-shockwave-flash" data="@frontendRoot/Scripts/book/TzuChiBook2.swf" width="1629" height="1000">
                <param name="quality" value="high" />
                <param name="bgcolor" value="#111111" />
                <param name="allowScriptAccess" value="sameDomain" />
                <param name="allowFullScreen" value="true" />
                <param name="wmode" value="transparent" />
                <param name=FlashVars value="bookXml=@frontendRoot/Scripts/book/book_culture_book4.xml" />
                <!--<![endif]-->
                <!--[if gte IE 6]>-->
                <p>
                    Either scripts and active content are not permitted to run or Adobe Flash Player version
                    15.0.0 or greater is not installed.
                </p>
                <!--<![endif]-->
                <a href="http://www.adobe.com/go/getflashplayer">
                    <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player" />
                </a>
                <!--[if !IE]>-->
            </object>
            <!--<![endif]-->
        </object>
    </noscript>     

</div>

<!--上方主選單 Start-->
<div class="cont1Div">
    <div class="cbtnmenu">
        <div style="float:left;display:block;width:220px; height:50px;">
            <ul class="cbtn1"><a href="@Url.Action("BookPage", "Humanistic", new { path = "TzuChengPartial/_OriginalPartial", videoKey = video, imgKey = img })">細說從頭</a></ul><ul class="cbtnline"><img src="/Images/Humanistic/cbtnline4.png" width="220" height="5"></ul>
        </div>
        <div style="float:left;display:block;width:220px; height:50px;">
            <ul class="cbtn1"><a href="@Url.Action("BookPage", "Humanistic", new { path = "TzuChengPartial/_InteractionPartial", videoKey = video, imgKey = img })">溫馨互動</a></ul><ul class="cbtnline"><img src="/Images/Humanistic/cbtnline2.png" width="220" height="5"></ul>
        </div>
        <div style="float:left;display:block;width:220px; height:50px;">
            <ul class="cbtn1">
                <a href="@Url.Action("BookPage", "Humanistic", new { path = "TzuChengPartial/_ImmortalPartial", videoKey = video, imgKey = img })">緣起不滅</a>
            </ul><ul class="cbtnline"><img src="/Images/Humanistic/cbtnline2.png" width="220" height="5"></ul>
        </div>
        <div style="float:left;display:block;width:220px; height:50px;">
            <ul class="cbtn1D">懿德名單</ul><ul class="cbtnline"><img src="/Images/Humanistic/cbtnline5D.png" width="220" height="5"></ul>
        </div>
        <section style="float:left;display:block;width:135px; height:50px;">
            <div class="wrapper-demo">
                <div id="dd" class="wrapper-dropdown-5" tabindex="1" style="z-index:7" ;>
                    <div>學年度</div>
                    <ul class="dropdown">
                        <li><a href="javascript:changeYearMethod(103)">103</a></li>
                        <li><a href="javascript:changeYearMethod(102)">102</a></li>
                        <li><a href="javascript:changeYearMethod(101)">101</a></li>
                        <li><a href="javascript:changeYearMethod(100)">100</a></li>
                        <li><a href="javascript:changeYearMethod(99)">99</a></li>
                        <li><a href="javascript:changeYearMethod(98)">98</a></li>
                        <li><a href="javascript:changeYearMethod(97)">97</a></li>
                        <li><a href="javascript:changeYearMethod(96)">96</a></li>
                        <li><a href="javascript:changeYearMethod(95)">95</a></li>
                        <li><a href="javascript:changeYearMethod(94)">94</a></li>
                        <li><a href="javascript:changeYearMethod(93)">93</a></li>
                        <li><a href="javascript:changeYearMethod(92)">92</a></li>
                        <li><a href="javascript:changeYearMethod(91)">91</a></li>
                        <li><a href="javascript:changeYearMethod(90)">90</a></li>
                        <li><a href="javascript:changeYearMethod(89)">89</a></li>
                        <li><a href="javascript:changeYearMethod(88)">88</a></li>
                        <li><a href="javascript:changeYearMethod(87)">87</a></li>
                        <li><a href="javascript:changeYearMethod(86)">86</a></li>
                        <li><a href="javascript:changeYearMethod(85)">85</a></li>
                        <li><a href="javascript:changeYearMethod(84)">84</a></li>
                        <li><a href="javascript:changeYearMethod(83)">83</a></li>
                        <li><a href="javascript:changeYearMethod(82)">82</a></li>
                        <li><a href="javascript:changeYearMethod(81)">81</a></li>
                        <li><a href="javascript:changeYearMethod(80)">80</a></li>
                        <li><a href="javascript:changeYearMethod(79)">79</a></li>
                        <li><a href="javascript:changeYearMethod(78)">78</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>