<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=5"></a></div>
<!--<div id="EngDiv1" class="WINEng"><a href="school2.html"><img src="////Images/Map/Map/Map/Map/btn5.png" width="178" height="78"  border="0"></a></div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle6L">
            <li class="StitleLtxt1">進修推廣部</li>
            <li class="StitleLtxt2">Division of Continuing & Extension Education</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartEduPartial/_HistoryPartial" })">歷史脈絡 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartEduPartial/_SessionPartial" })">歷屆主任 ｜　</a></div>
        <div class="SmenuBtn1">進修教育｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartEduPartial/_PromotionCollegePartial" })">推廣教育</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">

            <ul class="Sconttxt" style="width:1280px;">
                <span style="color:#2e6aa2;">一、進修教育發展重點</span>
                <br>
                <img src="/Images/Map/school/img3-1.jpg" width="1280" height="650" class="Scontimg">
                <br>
                <p>
                    （一）培育術德兼備之專業護理師。<br>
                    （二）能應用醫護相關理論與知識，以實證為基礎，提供病人整體性護理之專業人才。<br>
                    （三）培養具有實証照護基礎概念之護理實務人才。<br>
                    （四）培養具整合醫療資源並提供連續性護理之專業護理人才。<br>
                </p>
            </ul>

            <ul class="Sconttxt" style="width:1280px;">
                <span style="color:#2e6aa2;">
                    <br>
                    二、進修教育<strong>特色</strong>
                </span>
                <br>
                <img src="/Images/Map/school/img3-2.jpg" width="1280" height="650" class="Scontimg">
                <br>
                <p>
                    （一）為落實慈、悲、喜、捨校訓，本校與佛教慈濟醫院建教合作，學生實習課程由學校與醫院共同完成。實習教學除了增進學生實務經驗外，並讓學生體認校訓「慈、悲、喜、捨」的精神與內涵，以培養具有「人傷我痛」胸襟的專業精英。<br>
                    （二）敦聘的教師重視其教學熱忱、學生關懷及學術研究能力，可帶動校園的學習氣息，提高學生學習的動機及有效輔導學生。<br>
                    （三）培育學生實證護理基礎能力，學習在實務中的應用。<br>
                    （四）課程設計強調專業理論與實（驗）習並重，以促進學生對學理的理解，並培養學生職業適應的能力。<br>
                    （五）結合醫療及社區資源、創造多元化學習情境。<br>
                    （六）發展護理師之外的次專長，包括長期照護、傷口照護、遠距照護。
                    <br>
                    （七）培育學生具備以病人為中心的整合照護知能之護理人才。
                </p>
            </ul>

            <ul class="Sconttxt" style="width:1280px;">
                <span style="color:#2e6aa2;">
                    <br>
                    三、<strong>進修部二年制護理系</strong>
                </span>
                <br>
                <img src="/Images/Map/school/img3-3.jpg" width="1280" height="500" class="Scontimg">
                <p>
                    花東地區位處偏遠地區，因交通、人口、在職進修與就業不易等因素，造成護理人員流動率影響偏遠地區健康照護品質，所有醫療院所為了因應護理人力的短缺，提昇護理人員的質與量，莫不積極鼓勵院內護理人員回流進修再教育，藉以培養更多護理人力，提供當地專業的進修管道與終身學習的機會，達到就地取才，穩固護理人員流失。<br>
                    （一）目的：<br>
                    1.延長護理在職人員在地區醫療院所的服務年限。<br>
                    2.順應醫療專業專科化之趨勢，提高護理服務之品質：由於醫療衛生技術日益提昇，儀器設備極精密，使各醫療專業朝專科化發展，先進國家已建立專科護理師培育及認證制度，各護理領域逐漸朝專科化發展，因此本校規劃開設此班結合理論與實務，為護理專科化奠定深厚學術基礎，以期提高護理服務品質。
                </p>
                <p><img src="/Images/Map/school/img3-4.jpg" width="1280" height="500" class="Scontimg"></p>
                3.因應人口高齡化，慢性病及老年人口增加之趨勢，發展具長期照護專長之護理人員：台灣地區於2007年，六十五歲以上人口已達11％以上，成為世界衛生組織所謂的高齡化社會，由於老人常伴隨著慢性病，而慢性病通常要長期的醫療照護，護理人力的需求越來越迫切，開設此班便是朝此方向發展，培育長期照顧所需要的人才（力）。
                <br>
                4.因應東部地區護理人力不足，儲備慈濟醫療志業人才：財團法人慈濟慈善事業基金會，在花蓮設置醫學中心、在嘉義大林、台北新店、台中潭子設置區域教學醫院，提供該地區民眾所需醫療服務，滿足其健康照護需求，亟需長期大量護理人力的培育。
                <br>
                5.培育具備人文素養的專業人才：本校除著重專業知識的傳授外，並強調通識人文教育將人文融入專業之課程，亦鼓勵學生參加志工服務，培養關懷、服務社會的觀念和慈、悲、喜、捨的精神，藉由提供志業體的志工服務的機會，培養學生「付出」、「服務」的大愛精神。
                <br>
                <img src="/Images/Map/school/img3-5.jpg" width="1280" height="500" class="Scontimg">
                <br>
                （二）、二年制進修部護理系開課科目及學分時數表
                <br>
                <p><img src="/Images/Map/school/img3-6.jpg" width="1000" class="Scontimg"></p>
            </ul>

            <ul class="Sconttxt" style="width:1280px;">
                <span style="color:#2e6aa2;">
                    <br>
                    <br>
                    四、<strong>進修學院二技護理系</strong>
                </span>
                <br>
                <img src="/Images/Map/school/img3-7.jpg" width="1280" height="500" class="Scontimg">
                <br>
                <p>
                    近年來，雲嘉南地區因交通、人口、在職進修與就業不易等因素，造成護理人員流動率影響偏遠地區健康照護品質，所有醫療院所為了因應護理人力的短缺，提昇護理人員的質與量，莫不積極鼓勵院內護理人員回流進修再教育，藉以培養更多護理人力，提供當地專業的進修管道與終身學習的機會，達到就地取才，穩固護理人員流失。<br>
                    （一）目的：<br>
                    1.延長護理在職人員在地區醫療院所的服務年限：大林慈濟綜合醫院由於地處偏遠，高學歷之護理人員聘任不易，即使就職亦留任不久，醫院護理人員進650餘人，專科畢業佔60%以上，若能設置進修學院成立二技護理系，提供護理人員進修之機會，不僅可提高高學歷護理人才比例，亦可延長其留任年限。 <br>
                    2.由於嘉義縣轄區狹長，與本校相同類型學校雖然也在同一縣內，但離大林慈濟醫院仍有35公里的路程，車程約45分鐘，且開班招收學生有限。
                </p>
                <img src="/Images/Map/school/img3-8.jpg" width="1280" height="500" class="Scontimg">
                <p>
                    3.順應醫療專業專科化之趨勢，提高護理服務之品質：由於醫療衛生技術日益提昇，儀器設備極精密，使各醫療專業朝專科化發展，先進國家已建立專科護理師培育及認證制度，各護理領域逐漸朝專科化發展，因此本校規劃開設此班結合理論與實務，為護理專科化奠定深厚學術基礎，以期提高護理服務品質。 <br>
                    4.因應人口高齡化，慢性病及老年人口增加之趨勢，發展具長期照護專長之護理人員：台灣地區於2007年，六十五歲以上人口已達11％以上，成為世界衛生組織所謂的高齡化社會，由於老人常伴隨著慢性病，而慢性病通常要長期的醫療照護，護理人力的需求越來越迫切，開設此班便是朝此方向發展，培育長期照顧所需要的人才（力）。 <br>
                    5.因應雲嘉南地區護理人力不足，儲備慈濟醫療志業人才：財團法人慈濟慈善事業基金會，在花蓮設置醫學中心、在嘉義大林、台北新店、台中潭子設置區域教學醫院，提供該地區民眾所需醫療服務，滿足其健康照護需求，亟需長期大量護理人力的培育。 <br>
                    6.培育具備人文素養的專業人才：本校除著重專業知識的傳授外，並強調通識人文教育將人文融入專業之課程，亦鼓勵學生參加志工服務，培養關懷、服務社會的觀念和慈、悲、喜、捨的精神，藉由提供志業體的志工服務的機會，培養學生「付出」、「服務」的大愛精神。
                </p>
                <p>
                    <img src="/Images/Map/school/img3-9.jpg" width="1280" height="500" class="Scontimg">
                </p>
                <p>（二）、103 學年度入學進修學院二技護理系開課科目及學分時數表(大林班) <img src="/Images/Map/school/img3-10.jpg" width="1000" height="1344" class="Scontimg"></p>
                <p>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    （三）、103 學年度入學進修學院二技護理系開課科目及學分時數表(花蓮班)
                    <img src="/Images/Map/school/img3-6.jpg" width="1000" height="1468" class="Scontimg">
                </p>
            </ul>
            <br>
            <br>
        </div>
    </div>
</div>