<!--第一層回首頁按鈕-->
<div id="gobkDiv1" class="btn6"><a href="@Url.Content("Index")"></a></div>
<div id="gobkDiv2" class="btn7"><a href="DepartIntro?moveTo=5"></a></div>
<!--<div id="EngDiv1" class="WINEng"><a href="school2.html"><img src="//Images/Map/Map/btn5.png" width="178" height="78"  border="0"></a></div>-->
<!--content-->

<div class="bk4Div">
    <div class="Stitle">
        <ul class="Stitle6L">
            <li class="StitleLtxt1">進修推廣部</li>
            <li class="StitleLtxt2">Division of Continuing & Extension Education</li>
        </ul>
    </div>
    <div class="Smenu">
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartEduPartial/_HistoryPartial" })">歷史脈絡 ｜　</a></div>
        <div class="SmenuBtn1">歷屆主任｜　</div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartEduPartial/_EducationDepartPartial" })">進修教育 ｜　</a></div>
        <div class="SmenuBtn2"><a href="@Url.Action("DepartPage", "Map", new { path = "DepartEduPartial/_PromotionCollegePartial" })">推廣教育</a></div>
    </div>
    <div class="Scont" style="overflow-x:hidden; overflow-y:visible; ">
        <div class="Sconttop">
            <div class="ScontL1">
                <ul class="Scontimg"><img src="/Images/Map/school/pic/pic78.jpg" width="178" height="230" border="0"></ul>
                <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                    任期：第一任 2000/08/01-2001/07/31
                    <br>
                    姓名：施順生
                    <br>
                    簡介：現任中國文化大學中國文學系，中國文化研究所專任副教授，學術專長和主要研究課題文字轉變和中國文字學。
                    <br>
                </ul>
            </div>
            <div class="ScontL1">
                <ul class="Scontimg"><img src="/Images/Map/school/pic/pic20.jpg" width="178" height="230" border="0"></ul>
                <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                    任期：第二任 2001/08/01-2003/07/31
                    <br>
                    姓名：李明憲
                    <br>
                    簡介：畢業於國立台灣師範大學教育學博士，現任國立東華大學課程與潛能開發學系教授。
                    <br>
                </ul>
            </div>
            <div class="ScontL1">
                <ul class="Scontimg"><img src="/Images/Map/school/pic/pic79.jpg" width="178" height="230" border="0"></ul>
                <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                    任期：第三任 2003/08/01-2006/01/31
                    <br>
                    姓名：邱淑君
                    <br>
                    簡介：畢業於清華大學生命科學系博士，現任教授兼生命科學系系主任。
                    <br>
                </ul>
            </div>
            <div class="ScontL1">
                <ul class="Scontimg"><img src="/Images/Map/school/pic/pic11.jpg" width="178" height="230" border="0"></ul>
                <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                    任期：第四任 2006/02/01-2011/07/31
                    <br>
                    姓名：翁仁楨
                    <br>
                    簡介：畢業於美國北科羅拉多州立大學生物學研究所博士 ，曾任慈濟技技術學院進修推廣部(進修學院)主任95/2/1-100/7/31、慈濟護專安全衛生室組長91/8/1-95/1/31、慈濟護專實習就業輔導室主任84/8/1-88/7/31，現任慈濟技術學院通識教育中心副教授一職。
                    <br>
                </ul>
            </div>
            <div class="ScontL1">
                <ul class="Scontimg"><img src="/Images/Map/school/pic/pic30-1.jpg" width="178" height="230" border="0"></ul>
                <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                    任期：第五任 2011/08/01-2013/05/31
                    <br>
                    姓名：彭少貞
                    <br>
                    簡介：畢業於辛辛那提大學俄亥俄州護理與健康學院護理哲學博士9/1997-6/2002，曾任慈濟技術學院護理系行政：護理系教學組長、研究發展中心國際交流暨產學合作組組長8/2002-2/2005、慈濟護理專科衛生保健組組長、訓導處主任、人文室主任8/1991-7/1997、花蓮慈濟醫院內科病房護理師7/1987-6/1989，現任慈濟技術學院護理系主任一職。
                    <br>
                </ul>
            </div>
            <div class="ScontL1">
                <ul class="Scontimg"><img src="/Images/Map/school/pic/pic8.jpg" width="178" height="230" border="0"></ul>
                <ul class="Sconttxt" style="width:900px; margin:0px 0px 0px 40px;">
                    任期：第六任 2013/06/01-迄今
                    <br>
                    姓名：游崑慈
                    <br>
                    簡介：曾任真理大學助理教授、東華大學兼任副教授，現任慈濟技術學院進修推廣部(進修學院)主任一職。
                    <br>
                </ul>
            </div>

        </div>
    </div>
</div>