<div class="cont3btn1">
    <div class="WINtxt">
        <ul class="Title">楊思標校長</ul>
        <ul class="Line"><img src="/Images/Founding/line.png" width="1150" height="2"></ul>
        <ul class="Button">
            <li class="books3"><a href="#">學術專長及任內建樹</a></li>
            <li class="booksline"><img src="/Images/Founding/book/line.png" width="1" height="50"></li>
            <li class="books4"><a href="#">學經歷年表</a></li>
            <li class="booksline"><img src="/Images/Founding/book/line.png" width="1" height="50"></li>
            <li class="books4"><a href="#">歷任一級主管</a></li>
        </ul>
        <div class="showContent">
            <ul class="Content" style="width:1180px;">
                <p>
                    <img src="/Images/Founding/img/img44.jpg" width="600" height="770"><br>
                    治校時期：1989年9月17日～1990年6月30日 <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;台灣胸腔內科知名權威學者，1989年9月17日，慈濟護專創校開學典禮，自台大醫學院院長退休數年，七十歲高齡披掛上陣，以「代理校長」身分主持第一年校務。卸任後，仍致力於醫學，現為花蓮慈濟醫學中心顧問。楊思標校長認為，醫護本為一家，所以，慈濟護專特別強調專業精神和「護德」的培養，提昇「服務」的精神，加強「實現」的教育，更成為東部第一所護專的特殊教育方針。<br>
                    <img src="/Images/Founding/img/img46.jpg" width="1030" height="500"><br>
                    學術專長：胸腔內科、肺部X光片判讀、肺結核及肺癌研究、診斷與治療<br>
                    <img src="/Images/Founding/img/img45.jpg" width="600" height="770"><br>
                    任內建樹：<br>&nbsp;&nbsp;&nbsp;&nbsp;回憶當年護專創校時的難處，楊思標校長：「想找教師來這裏專任，也很缺喔！」為了彌補專任師資不足、強化醫療專業教育，慈濟醫院醫師們一根蠟燭兩頭燒，問診之餘也為護專同學們傳授基礎課程。例如第一學期「生理病理學」的十五個單元，就由楊思標校長親自教授「細胞的組成與功能」，慈濟醫院曾文賓院長負責「血壓與循環」，陳英和醫師講述「免疫系統」，郭漢崇醫師教導「水與電解質的恆定」等。<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;在楊思標校長的努力，以及慈濟醫院醫師以及台大、國防醫學院等校的兼任教師鼎力相助下，終能使慈濟護專擁有高水準的專業教育。 <img src="/Images/Founding/img/img48.jpg" width="1030" height="500">
                </p>
            </ul>
        </div>
        <div class="showContent">
            <ul class="Content" style="width:1180px;">
                <img src="/Images/Founding/img/img47.jpg" width="1030" height="500">
                <br>
                學歷：
                <br>
                台北帝國大學醫學院學士
                <br>
                日本新潟醫科大學博士
                <br>
                美國丹佛猶太醫院胸腔病學進修
                <p>
                    經歷： <br>
                    1957－1989　國立台灣大學醫學院內科教授<br>
                    1958－1966　國立台灣大學醫學院醫技系＆實驗診斷科主任 <br>
                    1972－1984　國立台灣大學醫學院院長 <br>
                    1986－1989　中沙醫療團團長 <br>
                    1989－1990　慈濟護理專科學校校長 <br>
                    1990　省立台中醫院院長 <br>
                    美國紐約州立大學DOWNSTATE醫學中心客座教授 <br>
                    國立台灣大學醫學院附設醫院副院長、院長 <br>
                    行政院衛生署顧問 <br>
                    行政院衛生署防癆委員會主任委員 <br>
                    國立台灣大學名譽教授<br>
                </p>
                <br>
            </ul>
        </div>
        <div class="showContent">
            <ul class="Con3">
                <ul>78學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic20.jpg" width="178" height="230"></li><li class="Con4txt">教務主任<br>郭世音</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic15.jpg" width="178" height="230"></li><li class="Con4txt">訓導主任<br>林宜澐</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic22.jpg" width="178" height="230"></li><li class="Con4txt">總務主任<br>許芳銘</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic14.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>黃馨誼</li></ul>
            </ul>
        </div>
    </div>
    <div class="WINclose"><img src="/Images/Founding/close.png" width="60" height="66"></div>
</div>
<!--class = 圖片名稱-->
<div class="cont3btn2">
    <div class="WINtxt">
        <ul class="Title">張芙美校長</ul>
        <ul class="Line"><img src="/Images/Founding/line.png" width="1150" height="2"></ul>
        <ul class="Button">
            <li class="books3"><a href="#">學術專長及任內建樹</a></li>
            <li class="booksline"><img src="/Images/Founding/book/line.png" width="1" height="50"></li>
            <li class="books4"><a href="#">學經歷年表</a></li>
            <li class="booksline"><img src="/Images/Founding/book/line.png" width="1" height="50"></li>
            <li class="books4"><a href="#">歷任一級主管</a></li>
        </ul>
        <div class="showContent">
            <ul class="Content" style="width:1180px;">
                <p>
                    <img src="/Images/Founding/img/img55.jpg" width="1030" height="500"><br>
                    治校時期：1990年7月1日～2002年7月31日 <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;曾在弘光護專（現為弘光科技大學）任職22年，1990年受證嚴上人感召，應聘擔任慈濟護專校長，期望為花蓮護理教育開啟一扇窗。<br>
                    <img src="/Images/Founding/img/img50.jpg" width="1030" height="500"><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;一路走來，堅持證嚴上人託付的責任，為教育而辦教育，為社會而辦教育。<br>
                    不但推動本校增設二專、改制技術學院，更在護理教育領域奉獻長達36年，帶領師長培育無數護理人才，榮獲中華民國護理師公會93年度「傑出護理人員專業奉獻獎」和「資深護理人員獎」。<br>
                    <img src="/Images/Founding/img/img51.jpg" width="1030" height="500"><br>
                    學術專長：護理、教育、管理 <img src="/Images/Founding/img/img52.jpg" width="1030" height="500"><br>
                    任內建樹： <br>
                </p>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">1993年02月01日</td>
                        <td width="75%" align="left" valign="top">教育部公布「81學年度新設6所專校學校評鑑」，慈濟護專辦學成績最優。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">1994年12月19日</td>
                        <td width="75%" align="left" valign="top">榮獲教育部評鑑為「第一等」專校，行政、訓輔及護理科皆獲評鑑為第一等，已符合教育部規定「專校改制為技術學院，各類科的評鑑結果須連達第二等以上，且其中二分之一的類科必須達第一等」的條件。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">1995年11月</td>
                        <td width="75%" align="left" valign="top">獲教育部評鑑為「第一等」專校。 </td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">1996年08月</td>
                        <td width="75%" align="left" valign="top">獲教育部指定為原住民教育重點學校。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">1997年06月14日</td>
                        <td width="75%" align="left" valign="top">獲教育部頒發85年度行政考核優良獎狀。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">1997年06月21日</td>
                        <td width="75%" align="left" valign="top">獲頒「促進原住民社會發展有功團體」獎，時任校長張芙美接受表揚並晉見李登輝總統。 </td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">1998年05月05日</td>
                        <td width="75%" align="left" valign="top">獲教育部頒發86年度行政考核優良學校獎狀。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">1998年05月05日</td>
                        <td width="75%" align="left" valign="top">獲教育部頒發86年度師資考核優良學校獎狀。 </td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">1998年05月05日</td>
                        <td width="75%" align="left" valign="top">獲教育部頒發86年度辦學績優學校獎狀。 </td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">1999年03月20日</td>
                        <td width="75%" align="left" valign="top">教育部函台（88）督字第88023313號檢送「87學年度第1學期視導報告」，獲優等。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">1999年04月19日</td>
                        <td width="75%" align="left" valign="top">獲教育部頒發教育學子啓導關懷社會風氣，愛心廣被，捐血成績優異獎狀。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">1999年04月23日</td>
                        <td width="75%" align="left" valign="top">獲教育部函台（88）技字第88043936號核定本校自88年08月01日起改制為「慈濟技術學院」。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">1999年05月08日</td>
                        <td width="75%" align="left" valign="top">獲教育部頒發87年度師資考核績優學校獎、行政考核績優學校獎、辦學績優學校獎。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">1999年05月08日</td>
                        <td width="75%" align="left" valign="top">獲教育部頒發承辦本部技術及職業教育專案著有績效貢獻獎。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">1999年08月01日</td>
                        <td width="75%" align="left" valign="top">改制為「慈濟技術學院」。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2001年12月05日</td>
                        <td width="75%" align="left" valign="top">榮獲行政院環境保護署「全國大專院校餐廳免洗餐具減量績優單位表揚」。 </td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2001年12月31日</td>
                        <td width="75%" align="left" valign="top">花蓮縣90年度托育機構評鑑，本校實驗托兒所成績經評定列為第一名榮獲獎金100,000元及獎牌乙面；行政管理績優，榮獲獎金10,000元及獎牌乙面，於花蓮縣文化局授獎。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2002年05月30日</td>
                        <td width="75%" align="left" valign="top">教育部91年度消費者服務績效考評，本校獲良等。</td>
                    </tr>
                </table>
            </ul>
        </div>
        <div class="showContent">
            <ul class="Content" style="width:1180px;">
                <img src="/Images/Founding/img/img53.jpg" width="1030" height="500">
                <br>
                <br>
                學歷：
                <br>
                國防醫學院護理系學士
                <br>
                美國奧克拉荷馬市大學企管碩士
                <br>
                美國德瑞克大學教育行政博士
                <p>
                    經歷： <br>
                    1963－1964 陸軍八０三總醫院護理師 <br>
                    1964－1967 陸軍八０三總醫院護理師 <br>
                    1967/07－1968/07 中山醫學大學附設醫院護理部主任、中山醫學大學護理系講師 <br>
                    1968/08－1990/06 弘光護理專科學校護理系副教授 <br>
                    1977/08－1990/06 弘光護理專科學校教務長 <br>
                    1990/07－1999/07 慈濟護專校長、護理系副教授 <br>
                    1999/08－2002/07 慈濟技術學院校長、護理系副教授<br>
                    行政院衛生署顧問 <br>
                    行政院衛生署防癆委員會主任委員 <br>
                    國立台灣大學名譽教授
                </p>
                <br>
            </ul>
        </div>
        <div class="showContent">
            <ul class="Con3">
                <ul style="width:800px;">79學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic10.jpg" width="178" height="230"></li><li class="Con4txt">教務主任<br>洪當明</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic18.jpg" width="178" height="230"></li><li class="Con4txt">訓導主任<br>李湘屏</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic22.jpg" width="178" height="230"></li><li class="Con4txt">總務主任<br>許芳銘</li></ul>
                <ul class="Con4ind"></ul>
                <ul style="width:800px;">80學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic10.jpg" width="178" height="230"></li><li class="Con4txt">教務主任<br>洪當明</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic18.jpg" width="178" height="230"></li><li class="Con4txt">訓導主任<br>李湘屏</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic21.jpg" width="178" height="230"></li><li class="Con4txt">總務主任<br>卓麗貞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic62.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>洪素貞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic31.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>吳銘能</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic33.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>葉美秀</li></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul style="width:800px;">81學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic10.jpg" width="178" height="230"></li><li class="Con4txt">教務主任<br>洪當明</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic18.jpg" width="178" height="230"></li><li class="Con4txt">訓導主任<br>李湘屏</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic21.jpg" width="178" height="230"></li><li class="Con4txt">總務主任<br>卓麗貞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic55.jpg" width="178" height="230"></li><li class="Con4txt">護理科主任<br>林美伶</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic62.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>洪素貞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic65.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>朱正一</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic33.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>葉美秀</li></ul>
                <ul class="Con4ind"></ul>
                <ul style="width:800px;">82學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic10.jpg" width="178" height="230"></li><li class="Con4txt">教務主任<br>洪當明</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic18.jpg" width="178" height="230"></li><li class="Con4txt">訓導主任<br>李湘屏</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic76.jpg" alt="" width="178" height="230"></li><li class="Con4txt">總務主任<br>李明憲</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic13.jpg" width="178" height="230"></li><li class="Con4txt">護理科主任<br>彭台珠</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic62.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>洪素貞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic65.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>朱正一</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic33.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>葉美秀</li></ul>
                <ul class="Con4ind"></ul>
                <ul style="width:800px;">83學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic10.jpg" width="178" height="230"></li><li class="Con4txt">教務主任<br>洪當明</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic30.jpg" alt="" width="178" height="230"></li><li class="Con4txt">訓導主任<br>彭少貞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic76.jpg" alt="" width="178" height="230"></li><li class="Con4txt">總務主任<br>李明憲</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic13.jpg" width="178" height="230"></li><li class="Con4txt">護理科主任<br>彭台珠</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic63.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>李淑媛</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic70.jpg" width="178" height="230"></li><li class="Con4txt">夜間部主任<br>方慶雲</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic85.jpg" alt="" width="178" height="230"></li><li class="Con4txt">人事室主任<br>劉翠媚</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic33.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>葉美秀</li></ul>
                <ul style="width:800px;">84學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic10.jpg" width="178" height="230"></li><li class="Con4txt">教務主任<br>洪當明</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic30.jpg" alt="" width="178" height="230"></li><li class="Con4txt">訓導主任<br>彭少貞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic76.jpg" alt="" width="178" height="230"></li><li class="Con4txt">總務主任<br>李明憲</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic13.jpg" width="178" height="230"></li><li class="Con4txt">護理科主任<br>彭台珠</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic23.jpg" width="178" height="230"></li><li class="Con4txt">復健科主任<br>蔡娟秀</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic27.jpg" width="178" height="230"></li><li class="Con4txt">幼兒保育科主任<br>段慧瑩</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic58.jpg" width="178" height="230"></li><li class="Con4txt">醫務管理科主任<br>陳筱華</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic63.jpg" alt="" width="178" height="230"></li><li class="Con4txt">人文室主任<br>李淑媛</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic10.jpg" width="178" height="230"></li><li class="Con4txt">夜間部主任<br>洪當明</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic61.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>范揚皓</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic32.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>李長泰</li></ul>
                <ul class="Con4ind"></ul>
                <ul style="width:800px;">85學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic10.jpg" width="178" height="230"></li><li class="Con4txt">教務主任<br>洪當明</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic17.jpg" width="178" height="230"></li><li class="Con4txt">訓導主任<br>羅文瑞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic76.jpg" alt="" width="178" height="230"></li><li class="Con4txt">總務主任<br>李明憲</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic13.jpg" width="178" height="230"></li><li class="Con4txt">護理科主任<br>彭台珠</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic23.jpg" width="178" height="230"></li><li class="Con4txt">復健科主任<br>蔡娟秀</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic27.jpg" width="178" height="230"></li><li class="Con4txt">幼兒保育科主任<br>段慧瑩</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic58.jpg" width="178" height="230"></li><li class="Con4txt">醫務管理科主任<br>陳筱華</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic28.jpg" width="178" height="230"></li><li class="Con4txt">放射技術科主任<br>蔡長書</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic27.jpg" width="178" height="230"></li><li class="Con4txt">實驗托兒所所長<br>段慧瑩</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic30.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>彭少貞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic10.jpg" width="178" height="230"></li><li class="Con4txt">夜間部主任<br>洪當明</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic61.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>范揚皓</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic32.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>李長泰</li></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul style="width:800px;">86學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic10.jpg" width="178" height="230"></li><li class="Con4txt">教務主任<br>洪當明</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic17.jpg" width="178" height="230"></li><li class="Con4txt">訓導主任<br>羅文瑞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic75.jpg" width="178" height="230"></li><li class="Con4txt">總務主任<br>王昆湶</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic13.jpg" width="178" height="230"></li><li class="Con4txt">護理科主任<br>彭台珠</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic24.jpg" width="178" height="230"></li><li class="Con4txt">復健科主任<br>王靜怡</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic16.jpg" width="178" height="230"></li><li class="Con4txt">幼兒保育科主任<br>張碧如</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic58.jpg" width="178" height="230"></li><li class="Con4txt">醫務管理科主任<br>陳筱華</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic28.jpg" width="178" height="230"></li><li class="Con4txt">放射技術科主任<br>蔡長書</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic66.jpg" width="178" height="230"></li><li class="Con4txt">實驗托兒所所長<br>蘇邦婕</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic64.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>謝筱梅</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic10.jpg" width="178" height="230"></li><li class="Con4txt">夜間部主任<br>洪當明</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic61.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>范揚皓</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic32.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>李長泰</li></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul style="width:800px;">87學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic10.jpg" width="178" height="230"></li><li class="Con4txt">教務主任<br>洪當明</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic17.jpg" width="178" height="230"></li><li class="Con4txt">訓導主任<br>羅文瑞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic75.jpg" width="178" height="230"></li><li class="Con4txt">總務主任<br>王昆湶</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic13.jpg" width="178" height="230"></li><li class="Con4txt">護理科主任<br>彭台珠</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic83.jpg" width="178" height="230"></li><li class="Con4txt">復健科主任<br>劉欣宜</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic16.jpg" width="178" height="230"></li><li class="Con4txt">幼兒保育科主任<br>張碧如</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic58.jpg" width="178" height="230"></li><li class="Con4txt">醫務管理科主任<br>陳筱華</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic28.jpg" width="178" height="230"></li><li class="Con4txt">放射技術科主任<br>蔡長書</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic35.jpg" width="178" height="230"></li><li class="Con4txt">實驗托兒所所長<br>張毓幸</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic64.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>謝筱梅</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic69.jpg" width="178" height="230"></li><li class="Con4txt">夜間部主任<br>謝政道</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic61.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>范揚皓</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic32.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>李長泰</li></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul style="width:800px;">88學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic60.jpg" width="178" height="230"></li><li class="Con4txt">主任秘書<br>張秀巒</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic10.jpg" width="178" height="230"></li><li class="Con4txt">教務長<br>洪當明</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic17.jpg" width="178" height="230"></li><li class="Con4txt">學務長<br>羅文瑞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic75.jpg" width="178" height="230"></li><li class="Con4txt">總務長<br>王昆湶</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic13.jpg" width="178" height="230"></li><li class="Con4txt">護理科主任<br>彭台珠</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic25.jpg" width="178" height="230"></li><li class="Con4txt">物理治療系主任<br>吳育儒</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic59.jpg" width="178" height="230"></li><li class="Con4txt">幼兒保育系主任<br>張美娟</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic57.jpg" width="178" height="230"></li><li class="Con4txt">醫務管理系主任<br>郭德貞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic28.jpg" width="178" height="230"></li><li class="Con4txt">放射技術系主任<br>蔡長書</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic42.jpg" width="178" height="230"></li><li class="Con4txt">實驗托兒所所長<br>胡美智</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic60.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>張秀巒</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic61.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>范揚皓</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic32.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>李長泰</li></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul style="width:800px;">89學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic60.jpg" width="178" height="230"></li><li class="Con4txt">主任秘書<br>張秀巒</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic10.jpg" width="178" height="230"></li><li class="Con4txt">教務長<br>洪當明</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic17.jpg" width="178" height="230"></li><li class="Con4txt">學務長<br>羅文瑞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic75.jpg" width="178" height="230"></li><li class="Con4txt">總務長<br>王昆湶</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic13.jpg" width="178" height="230"></li><li class="Con4txt">護理系主任<br>彭台珠</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic25.jpg" width="178" height="230"></li><li class="Con4txt">物理治療系主任<br>吳育儒</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic59.jpg" width="178" height="230"></li><li class="Con4txt">幼兒保育系主任<br>張美娟</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic57.jpg" width="178" height="230"></li><li class="Con4txt">醫務管理系主任<br>郭德貞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic28.jpg" width="178" height="230"></li><li class="Con4txt">放射技術系主任<br>蔡長書</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic42.jpg" width="178" height="230"></li><li class="Con4txt">實驗托兒所主任<br>胡美智</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic60.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>張秀巒</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic77.jpg" width="178" height="230"></li><li class="Con4txt">進修部主任<br>施順生</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic61.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>范揚皓</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic32.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>李長泰</li></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul style="width:800px;">90學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic60.jpg" width="178" height="230"></li><li class="Con4txt">主任秘書<br>張秀巒</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic10.jpg" width="178" height="230"></li><li class="Con4txt">教務長<br>洪當明</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic17.jpg" width="178" height="230"></li><li class="Con4txt">學務長<br>羅文瑞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic75.jpg" width="178" height="230"></li><li class="Con4txt">總務長<br>王昆湶</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic13.jpg" width="178" height="230"></li><li class="Con4txt">護理系主任<br>彭台珠</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic23.jpg" width="178" height="230"></li><li class="Con4txt">護理系主任<br>蔡娟秀</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic24.jpg" width="178" height="230"></li><li class="Con4txt">物理治療系主任<br>王靜怡</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic27.jpg" width="178" height="230"></li><li class="Con4txt">幼兒保育系主任<br>段慧瑩</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic26.jpg" width="178" height="230"></li><li class="Con4txt">醫務管理系主任<br>陳翰霖</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic28.jpg" width="178" height="230"></li><li class="Con4txt">放射技術系主任<br>蔡長書</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic29.jpg" width="178" height="230"></li><li class="Con4txt">會計系主任<br>侯啟娉</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic42.jpg" width="178" height="230"></li><li class="Con4txt">實驗托兒所主任<br>胡美智</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic76.jpg" width="178" height="230"></li><li class="Con4txt">進修部主任<br>李明憲</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic60.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>張秀巒</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic61.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>范揚皓</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic32.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>李長泰</li></ul>
            </ul>
        </div>
    </div>
    <div class="WINclose"><img src="/Images/Founding/close.png" width="60" height="66"></div>
</div>

<div class="cont3btn3">
    <div class="WINtxt">
        <ul class="Title">洪當明校長</ul>
        <ul class="Line"><img src="/Images/Founding/line.png" width="1150" height="2"></ul>
        <ul class="Button">
            <li class="books3"><a href="#">學術專長及任內建樹</a></li>
            <li class="booksline"><img src="/Images/Founding/book/line.png" width="1" height="50"></li>
            <li class="books4"><a href="#">學經歷年表</a></li>
            <li class="booksline"><img src="/Images/Founding/book/line.png" width="1" height="50"></li>
            <li class="books4"><a href="#">歷任一級主管</a></li>
        </ul>
        <div class="showContent">
            <ul class="Content" style="width:1180px;">
                <p>
                    <img src="/Images/Founding/img/img56.jpg"><br>
                    治校時期：2002年8月1日～2011年7月31日
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;曾任大漢工專（現為大漢技術學院）代理校長，1990年轉任慈濟技術學院，擔任教務長一職。<br>
                    <img src="/Images/Founding/img/img58.jpg" width="1030" height="500"><br>&nbsp;&nbsp;&nbsp;&nbsp;擔任校長期間，獲得教育部99學年度全國技專院校評鑑各系所及行政類一等殊榮，辦學成果獲得肯定，也是全國醫護及健康管理類科學校模範。
                    於慈濟技術學院服務20餘年，卸任後，仍繼續誨人不倦。<br>
                    <img src="/Images/Founding/img/img59.jpg" width="1030" height="500"><br>
                    學術專長：有機金屬化合物合成、無機錯化物結構與磁性關係 <img src="/Images/Founding/img/img60.jpg" width="1030" height="500">
                </p>
                <p>
                    任內建樹：
                </p>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2003年09月29日</td>
                        <td width="75%" align="left" valign="top">榮獲教育部頒發91學年度「技術及職業教育專案著有績效貢獻良多」獎。 </td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2003年10月27日</td>
                        <td width="75%" align="left" valign="top">參加「92年經濟部節約能源績優廠商表揚活動」，榮獲績優廠商。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2004年03月08日</td>
                        <td width="75%" align="left" valign="top">附設實驗托兒所榮獲行政院勞委會評選「92年度辦理托兒所設施措施績優單位」，於中泰賓館接受表揚。 </td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2004年09月03日</td>
                        <td width="75%" align="left" valign="top">參加行政院環境保護署「93年推動環境保護有功學校、教師及學生遴選表揚」，榮獲推動環境保護有功學校優等獎。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2007年11月01日</td>
                        <td width="75%" align="left" valign="top">參加環保署主辦96年度事業廢棄物與再生資源清理及資源減量回收再利用績效評選，榮獲教育組特優獎。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2008年07月29日</td>
                        <td width="75%" align="left" valign="top">榮獲教育部「96學年度品德教育績優學校獎」。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2010年10月12日</td>
                        <td width="75%" align="left" valign="top">總務處環安組榮獲教育99年度技專校院校園環境管理現況調查暨績效評鑑榮獲優等佳績，並獲補助獎金1,000,000元。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2009年10月17日</td>
                        <td width="75%" align="left" valign="top">台灣輔導與諮商學會辦理98年度推行輔導工作績優學校表揚活動，本校榮獲輔導工作績優學校。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2010年11月05日</td>
                        <td width="75%" align="left" valign="top">總務處環安組榮獲行政院環保署99年度事業廢棄物與再生資源清理及資源減量回收再利用績效優良獎教育組特優獎。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2011年06月09日</td>
                        <td width="75%" align="left" valign="top">榮獲99學年度教育部評鑑各所、系科與行政類均獲一等。 </td>
                    </tr>
                </table>
            </ul>
        </div>
        <div class="showContent">
            <ul class="Content" style="width:1180px;">
                <img src="/Images/Founding/img/img61.jpg" width="1030" height="500">
                <br>
                <br>
                學歷：淡江大學化學研究所碩士
                <br>
                <br>
                經歷：
                <br>
                1989/08－1990/07 大漢工專代理校長
                <br>
                1990/08－2002/07 慈濟技術學院教務長
                <br>
                2002/08－2011/07 慈濟技術學院校長
            </ul>
        </div>
        <div class="showContent">
            <ul class="Con3">
                <ul style="width:800px;">91學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic60.jpg" width="178" height="230"></li><li class="Con4txt">主任秘書<br>張秀巒</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic28.jpg" width="178" height="230"></li><li class="Con4txt">教務長<br>蔡長書</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic17.jpg" width="178" height="230"></li><li class="Con4txt">學務長<br>羅文瑞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic26.jpg" width="178" height="230"></li><li class="Con4txt">總務長<br>陳翰霖</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic23.jpg" width="178" height="230"></li><li class="Con4txt">護理系主任<br>蔡娟秀</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic24.jpg" width="178" height="230"></li><li class="Con4txt">物理治療系主任<br>王靜怡</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic65.jpg" width="178" height="230"></li><li class="Con4txt">醫務管理系主任<br>朱正一</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic27.jpg" width="178" height="230"></li><li class="Con4txt">幼兒保育系主任<br>段慧瑩</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic73.jpg" width="178" height="230"></li><li class="Con4txt">放射技術系主任<br>陳拓榮</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic68.jpg" width="178" height="230"></li><li class="Con4txt">會計系主任<br>張永恆</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic42.jpg" width="178" height="230"></li><li class="Con4txt">實驗托兒所所長<br>胡美智</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic32.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>李長泰</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic60.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>張秀巒</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic61.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>范揚皓</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic76.jpg" width="178" height="230"></li><li class="Con4txt">進修推廣部主任<br>李明憲</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic47.jpg" width="178" height="230"></li><li class="Con4txt">研究發展中心<br>主任 李志偉</li></ul>
                <ul style="width:800px;">92學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic60.jpg" width="178" height="230"></li><li class="Con4txt">主任秘書<br>張秀巒</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic28.jpg" width="178" height="230"></li><li class="Con4txt">教務長<br>蔡長書</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic17.jpg" width="178" height="230"></li><li class="Con4txt">學務長<br>羅文瑞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic26.jpg" width="178" height="230"></li><li class="Con4txt">總務長<br>陳翰霖</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic23.jpg" width="178" height="230"></li><li class="Con4txt">護理系主任<br>蔡娟秀</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic24.jpg" width="178" height="230"></li><li class="Con4txt">物理治療系主任<br>王靜怡</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic65.jpg" width="178" height="230"></li><li class="Con4txt">醫務管理系主任<br>朱正一</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic27.jpg" width="178" height="230"></li><li class="Con4txt">幼兒保育系主任<br>段慧瑩</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic73.jpg" width="178" height="230"></li><li class="Con4txt">放射技術系主任<br>陳拓榮</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic29.jpg" width="178" height="230"></li><li class="Con4txt">會計資訊系主任<br>侯啟娉</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic42.jpg" width="178" height="230"></li><li class="Con4txt">實驗托兒所所長<br>胡美智</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic49.jpg" width="178" height="230"></li><li class="Con4txt">通識教育中心<br>主任 蔡裕美</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic32.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>李長泰</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic60.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>張秀巒</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic61.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>范揚皓</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic78.jpg" width="178" height="230"></li><li class="Con4txt">進修推廣部主任<br>邱淑君</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic47.jpg" width="178" height="230"></li><li class="Con4txt">研究發展中心<br>主任 李志偉</li></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul style="width:800px;">93學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic60.jpg" width="178" height="230"></li><li class="Con4txt">主任秘書<br>張秀巒</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic28.jpg" width="178" height="230"></li><li class="Con4txt">教務長<br>蔡長書</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic17.jpg" width="178" height="230"></li><li class="Con4txt">學務長<br>羅文瑞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic26.jpg" width="178" height="230"></li><li class="Con4txt">總務長<br>陳翰霖</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic23.jpg" width="178" height="230"></li><li class="Con4txt">護理系主任<br>蔡娟秀</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic24.jpg" width="178" height="230"></li><li class="Con4txt">物理治療系主任<br>王靜怡</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic65.jpg" width="178" height="230"></li><li class="Con4txt">醫務管理系主任<br>朱正一</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic35.jpg" width="178" height="230"></li><li class="Con4txt">幼兒保育系主任<br>張毓幸</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic73.jpg" width="178" height="230"></li><li class="Con4txt">放射技術系主任<br>陳拓榮</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic29.jpg" width="178" height="230"></li><li class="Con4txt">會計資訊系主任<br>侯啟娉</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic42.jpg" width="178" height="230"></li><li class="Con4txt">實驗托兒所所長<br>胡美智</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic49.jpg" width="178" height="230"></li><li class="Con4txt">通識教育中心<br>主任 蔡裕美</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic32.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>李長泰</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic60.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>張秀巒</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic61.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>范揚皓</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic78.jpg" width="178" height="230"></li><li class="Con4txt">進修推廣部主任<br>邱淑君</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic47.jpg" width="178" height="230"></li><li class="Con4txt">研究發展中心<br>主任 李志偉</li></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul style="width:800px;">94學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic13.jpg" width="178" height="230"></li><li class="Con4txt">主任秘書<br>彭台珠</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic28.jpg" width="178" height="230"></li><li class="Con4txt">教務長<br>蔡長書</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic17.jpg" width="178" height="230"></li><li class="Con4txt">學務長<br>羅文瑞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic26.jpg" width="178" height="230"></li><li class="Con4txt">總務長<br>陳翰霖</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic30.jpg" width="178" height="230"></li><li class="Con4txt">護理系主任<br>彭少貞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic24.jpg" width="178" height="230"></li><li class="Con4txt">物理治療系主任<br>(上學期) 王靜怡</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic72.jpg" width="178" height="230"></li><li class="Con4txt">物理治療系主任<br>(下學期) 楊志鴻</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic40.jpg" width="178" height="230"></li><li class="Con4txt">醫務管理系主任<br>蔡宗宏</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic35.jpg" width="178" height="230"></li><li class="Con4txt">幼兒保育系主任<br>張毓幸</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic73.jpg" width="178" height="230"></li><li class="Con4txt">放射技術系主任<br>陳拓榮</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic29.jpg" width="178" height="230"></li><li class="Con4txt">會計資訊系主任<br>侯啟娉</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic32.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>李長泰</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic49.jpg" width="178" height="230"></li><li class="Con4txt">通識教育中心<br>主任 蔡裕美</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic45.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>謝麗華</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic61.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>范揚皓</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic78.jpg" width="178" height="230"></li><li class="Con4txt">進修推廣部主任<br>(上學期) 邱淑君</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic11.jpg" width="178" height="230"></li><li class="Con4txt">進修推廣部主任<br>(下學期) 翁仁楨</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic47.jpg" width="178" height="230"></li><li class="Con4txt">研究發展中心<br>主任 李志偉</li></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul style="width:800px;">95學年度</ul>
                <br>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic13.jpg" width="178" height="230"></li><li class="Con4txt">主任秘書<br>彭台珠</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic28.jpg" width="178" height="230"></li><li class="Con4txt">教務長<br>蔡長書</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic17.jpg" width="178" height="230"></li><li class="Con4txt">學務長<br>羅文瑞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic71.jpg" width="178" height="230"></li><li class="Con4txt">總務長<br>吳聰能</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic30.jpg" width="178" height="230"></li><li class="Con4txt">護理系主任<br>彭少貞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic39.jpg" width="178" height="230"></li><li class="Con4txt">物理治療系主任<br>黃千惠</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic40.jpg" width="178" height="230"></li><li class="Con4txt">醫務管理系主任<br>蔡宗宏</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic35.jpg" width="178" height="230"></li><li class="Con4txt">幼兒保育系主任<br>張毓幸</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic73.jpg" width="178" height="230"></li><li class="Con4txt">放射技術系主任<br>陳拓榮</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic1.jpg" width="178" height="230"></li><li class="Con4txt">資訊工程系主任<br>許瑋麟</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic29.jpg" width="178" height="230"></li><li class="Con4txt">會計資訊系主任<br>侯啟娉</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic49.jpg" width="178" height="230"></li><li class="Con4txt">通識教育中心<br>主任 蔡裕美</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic32.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>李長泰</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic45.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>謝麗華</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic43.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>蔡武霖</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic11.jpg" width="178" height="230"></li><li class="Con4txt">進修推廣部主任<br>翁仁楨</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic47.jpg" width="178" height="230"></li><li class="Con4txt">研究發展中心<br>主任 李志偉</li></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul style="width:800px;">96學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic13.jpg" width="178" height="230"></li><li class="Con4txt">主任秘書<br>彭台珠</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic28.jpg" width="178" height="230"></li><li class="Con4txt">教務長<br>蔡長書</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic17.jpg" width="178" height="230"></li><li class="Con4txt">學務長<br>羅文瑞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic71.jpg" width="178" height="230"></li><li class="Con4txt">總務長<br>吳聰能</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic30.jpg" width="178" height="230"></li><li class="Con4txt">護理系主任<br>彭少貞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic25.jpg" width="178" height="230"></li><li class="Con4txt">物理治療系主任<br>吳育儒</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic40.jpg" width="178" height="230"></li><li class="Con4txt">醫務管理系主任<br>蔡宗宏</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic73.jpg" width="178" height="230"></li><li class="Con4txt">放射技術系主任<br>陳拓榮</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic1.jpg" width="178" height="230"></li><li class="Con4txt">資訊工程系主任<br>許瑋麟</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic29.jpg" width="178" height="230"></li><li class="Con4txt">會計資訊系主任<br>侯啟娉</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic49.jpg" width="178" height="230"></li><li class="Con4txt">通識教育中心<br>主任 蔡裕美</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic32.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>李長泰</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic45.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>謝麗華</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic43.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>蔡武霖</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic79.jpg" width="178" height="230"></li><li class="Con4txt">軍訓室主任<br>王迺榘</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic11.jpg" width="178" height="230"></li><li class="Con4txt">進修推廣部主任<br>翁仁楨</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic47.jpg" width="178" height="230"></li><li class="Con4txt">研究發展中心<br>主任 李志偉</li></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul style="width:800px;">97學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic13.jpg" width="178" height="230"></li><li class="Con4txt">主任秘書<br>彭台珠</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic28.jpg" width="178" height="230"></li><li class="Con4txt">教務長<br>蔡長書</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic17.jpg" width="178" height="230"></li><li class="Con4txt">學務長<br>羅文瑞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic36.jpg" width="178" height="230"></li><li class="Con4txt">總務長<br>牛江山</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic30.jpg" width="178" height="230"></li><li class="Con4txt">護理系主任<br>彭少貞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic25.jpg" width="178" height="230"></li><li class="Con4txt">物理治療系主任<br>吳育儒</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic40.jpg" width="178" height="230"></li><li class="Con4txt">醫務管理系主任<br>蔡宗宏</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic28.jpg" width="178" height="230"></li><li class="Con4txt">放射技術系主任<br>蔡長書</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic1.jpg" width="178" height="230"></li><li class="Con4txt">資訊工程系主任<br>許瑋麟</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic50.jpg" width="178" height="230"></li><li class="Con4txt">會計資訊系主任<br>吳善全</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic49.jpg" width="178" height="230"></li><li class="Con4txt">通識教育中心<br>主任 蔡裕美</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic32.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>李長泰</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic45.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>謝麗華</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic43.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>蔡武霖</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic79.jpg" width="178" height="230"></li><li class="Con4txt">軍訓室主任<br>(上學期) 王迺榘</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic17.jpg" width="178" height="230"></li><li class="Con4txt">軍訓室主任<br>(下學期) 羅文瑞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic11.jpg" width="178" height="230"></li><li class="Con4txt">進修推廣部主任<br>翁仁楨</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic47.jpg" width="178" height="230"></li><li class="Con4txt">研究發展中心<br>主任 李志偉</li></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul style="width:800px;">98學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic13.jpg" width="178" height="230"></li><li class="Con4txt">主任秘書<br>彭台珠</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic28.jpg" width="178" height="230"></li><li class="Con4txt">教務長<br>蔡長書</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic17.jpg" width="178" height="230"></li><li class="Con4txt">學務長<br>羅文瑞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic36.jpg" width="178" height="230"></li><li class="Con4txt">總務長<br>牛江山</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic30.jpg" width="178" height="230"></li><li class="Con4txt">護理系主任<br>彭少貞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic25.jpg" width="178" height="230"></li><li class="Con4txt">物理治療系主任<br>吳育儒</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic40.jpg" width="178" height="230"></li><li class="Con4txt">醫務管理系主任<br>蔡宗宏</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic38.jpg" width="178" height="230"></li><li class="Con4txt">放射技術系主任<br>葉善宏</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic38.jpg" width="178" height="230"></li><li class="Con4txt">放射醫學科學研究所所長 葉善宏</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic1.jpg" width="178" height="230"></li><li class="Con4txt">資訊工程系主任<br>許瑋麟</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic50.jpg" width="178" height="230"></li><li class="Con4txt">會計資訊系主任<br>吳善全</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic49.jpg" width="178" height="230"></li><li class="Con4txt">通識教育中心<br>主任 蔡裕美</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic32.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>李長泰</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic45.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>謝麗華</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic43.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>蔡武霖</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic17.jpg" width="178" height="230"></li><li class="Con4txt">軍訓室主任<br>羅文瑞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic11.jpg" width="178" height="230"></li><li class="Con4txt">進修學院暨進修推廣部主任<br>翁仁楨</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic47.jpg" width="178" height="230"></li><li class="Con4txt">研究發展中心<br>主任 李志偉</li><li class="Con5txt">任期98年8月~99年3月</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic48.jpg" width="178" height="230"></li><li class="Con4txt">研究發展中心<br>主任 王淑芳</li><li class="Con5txt">任期99年4月1日~6月30日</li></ul>
                <ul class="Con4ind"></ul>
                <ul style="width:800px;">99學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic13.jpg" width="178" height="230"></li><li class="Con4txt">主任秘書<br>彭台珠</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic28.jpg" width="178" height="230"></li><li class="Con4txt">教務長<br>蔡長書</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic17.jpg" width="178" height="230"></li><li class="Con4txt">學務長<br>羅文瑞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic36.jpg" width="178" height="230"></li><li class="Con4txt">總務長<br>牛江山</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic30.jpg" width="178" height="230"></li><li class="Con4txt">護理系主任<br>彭少貞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic25.jpg" width="178" height="230"></li><li class="Con4txt">物理治療系主任<br>吳育儒</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic40.jpg" width="178" height="230"></li><li class="Con4txt">醫務管理系主任<br>蔡宗宏</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic38.jpg" width="178" height="230"></li><li class="Con4txt">放射技術系主任 葉善宏</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic38.jpg" width="178" height="230"></li><li class="Con4txt">放射醫學科學研究所所長 葉善宏</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic37.jpg" width="178" height="230"></li><li class="Con4txt">放射技術系主任  林威廷</li><li class="Con5txt">100年2月接任</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic37.jpg" width="178" height="230"></li><li class="Con4txt">放射醫學科學研究所所長  林威廷</li><li class="Con5txt">100年2月接任</li></ul>
                <ul class="Con4ind" style="height:380px;"><li class="Con4img"><img src="/Images/Founding/pic/pic1.jpg" width="178" height="230"></li><li class="Con4txt">資訊工程系主任<br>許瑋麟</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic50.jpg" width="178" height="230"></li><li class="Con4txt">會計資訊系主任<br>吳善全</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic49.jpg" width="178" height="230"></li><li class="Con4txt">通識教育中心<br>主任 蔡裕美</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic32.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>李長泰</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic45.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>謝麗華</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic43.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>蔡武霖</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic17.jpg" width="178" height="230"></li><li class="Con4txt">軍訓室主任<br>羅文瑞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic11.jpg" width="178" height="230"></li><li class="Con4txt">進修學院暨進修推廣部主任<br>翁仁楨</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic48.jpg" width="178" height="230"></li><li class="Con4txt">研究發展中心<br>主任 王淑芳</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic4.jpg" width="178" height="230"></li><li class="Con4txt">圖書館主任<br>謝易達</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic46.jpg" width="178" height="230"></li><li class="Con4txt">電子計算機中心主任<br>賴志明</li></ul>
                <ul class="Con4ind"></ul>
            </ul>

        </div>
    </div>
    <div class="WINclose"><img src="/Images/Founding/close.png" width="60" height="66"></div>
</div>

<div class="cont3btn4">
    <div class="WINtxt">
        <ul class="Title">羅文瑞校長</ul>
        <ul class="Line"><img src="/Images/Founding/line.png" width="1150" height="2"></ul>
        <ul class="Button">
            <li class="books3"><a href="#">學術專長及任內建樹</a></li>
            <li class="booksline"><img src="/Images/Founding/book/line.png" width="1" height="50"></li>
            <li class="books4"><a href="#">學經歷年表</a></li>
            <li class="booksline"><img src="/Images/Founding/book/line.png" width="1" height="50"></li>
            <li class="books4"><a href="#">歷任一級主管</a></li>
        </ul>
        <div class="showContent">
            <ul class="Content" style="width:1180px;">
                <p>
                    <img src="/Images/Founding/img/img64.jpg" width="600"><br>
                    治校時期：
                    2011年8月1日～迄今
                    <br>
                    <img src="/Images/Founding/img/img66.jpg" width="1030" height="500"><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;擔任慈濟技術學院學務長15年，2011年8月接任慈濟技術學院校長，繼續堅持優良的校風與傳統。 <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;持續的深化與深耕慈濟人文，簽訂高中職策略聯盟，推動教師研究與產學合作，以「應用專業」及「產業實務」的教學型技術學院為目標。
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;2013年領導創新實務風格，獲教育部教學卓越學校，帶領優秀團隊朝科技大學升格邁進。
                    <br>
                    <img src="/Images/Founding/img/img68.jpg" width="1030" height="500"><br>
                    學術專長：大氣化學、低溫光譜學、低溫間質隔離技術、雷射化學
                    <br>
                    <img src="/Images/Founding/img/img67.jpg" width="1030" height="500"><br>
                    任內建樹：
                </p>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2011年09月14日</td>
                        <td width="75%" align="left" valign="top">榮獲教育部99年度友善校園獎評選北區第二名。 </td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2012年01月18日</td>
                        <td width="75%" align="left" valign="top">參加行政院衛生署國民健康局舉辦「健康100，台灣動起來」健康減重活動榮獲減重績優學校。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2012年09月26日</td>
                        <td width="75%" align="left" valign="top">榮獲101年度品德教育特色學校。 </td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2013年01月28日</td>
                        <td width="75%" align="left" valign="top">榮獲教育部第三期獎勵科技大學及技術學院教學卓越計畫獎助，獲得102～103年度補助金每年30,000,000元整。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2013年05月06日</td>
                        <td width="75%" align="left" valign="top">商業周刊第1328期封面故事「誰打敗台大？」，全台147所學校、21萬名畢業生的「大學社會新鮮人就業率大調查」，本校排名全國大專院校第10名、技專校院第3名。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2013年06月23日</td>
                        <td width="75%" align="left" valign="top">榮獲「第一屆國家環境教育獎」學校組優等獎。 </td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2013年08月28日</td>
                        <td width="75%" align="left" valign="top">榮獲教育部102年度「校園安全衛生管理系統」認證。</td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2014年06月24日</td>
                        <td width="75%" align="left" valign="top">「102學年度大學校院學校衛生輔導計畫」評列特優。 </td>
                    </tr>
                </table>
                <table width="1080" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="25%" align="left" valign="top">2014年10月22日</td>
                        <td width="75%" align="left" valign="top">榮獲103年教育部品德教育特色學校獎項。 </td>
                    </tr>
                </table>
            </ul>
        </div>
        <div class="showContent">
            <ul class="Content" style="width:1180px;">
                <img src="/Images/Founding/img/img69.jpg">
                <br>
                <br>
                學歷：
                <br>
                國立臺灣師範大學化學系學士
                <br>
                國立清華大學化學所碩士
                <br>
                國立清華大學化學所博士
                <br>
                <br>
                經歷：
                <br>
                1986/07－1990/08 基隆市立中正國中專任教師
                <br>
                1995/08－2004/01 慈濟技術學院通識教育中心專任副教授
                <br>
                1995/08－1996/07 慈濟護理專科學校課外活動組長
                <br>
                1996/08－2011/07慈濟技術學院學生事務長
                <br>
                2004/02－迄今 慈濟技術學院通識教育中心專任教授
                <br>
                2011/08－迄今 慈濟技術學院校長
            </ul>
        </div>
        <div class="showContent">
            <ul class="Con3">
                <ul style="width:800px;">100學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic17.jpg" width="178" height="230"></li><li class="Con4txt">主任秘書<br>羅文瑞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic1.jpg" width="178" height="230"></li><li class="Con4txt">教務長<br>許瑋麟</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic36.jpg" width="178" height="230"></li><li class="Con4txt">學務長<br>牛江山</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic5.jpg" width="178" height="230"></li><li class="Con4txt">總務長<br>魏子昆</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic6.jpg" width="178" height="230"></li><li class="Con4txt">研發長<br>林祝君</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic51.jpg" width="178" height="230"></li><li class="Con4txt">護理系主任<br>羅淑芬</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic25.jpg" width="178" height="230"></li><li class="Con4txt">物理治療系主任<br>吳育儒</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic40.jpg" width="178" height="230"></li><li class="Con4txt">醫務管理系主任<br>蔡宗宏</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic37.jpg" width="178" height="230"></li><li class="Con4txt">放射醫學科學研究所暨放射技術系主任  林威廷</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic50.jpg" width="178" height="230"></li><li class="Con4txt">會計資訊系主任<br>吳善全</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic46.jpg" width="178" height="230"></li><li class="Con4txt">資訊工程系主任<br>賴志明</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic54.jpg" width="178" height="230"></li><li class="Con4txt">通識教育中心<br>主任 梁巧燕</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic45.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>謝麗華</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic43.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>蔡武霖</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic32.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>李長泰</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic30.jpg" width="178" height="230"></li><li class="Con4txt">進修學院暨進修推廣部主任<br>彭少貞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic4.jpg" width="178" height="230"></li><li class="Con4txt">圖書館主任<br>謝易達</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic7.jpg" width="178" height="230"></li><li class="Con4txt">電子計算機中心主任 杜信志</li></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul style="width:800px;">101學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic1.jpg" width="178" height="230"></li><li class="Con4txt">主任秘書<br>許瑋麟</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic40.jpg" width="178" height="230"></li><li class="Con4txt">教務長<br>蔡宗宏</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic36.jpg" width="178" height="230"></li><li class="Con4txt">學務長<br>牛江山</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic5.jpg" width="178" height="230"></li><li class="Con4txt">總務長<br>魏子昆</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic6.jpg" width="178" height="230"></li><li class="Con4txt">研發長<br>林祝君</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic51.jpg" width="178" height="230"></li><li class="Con4txt">護理系主任<br>羅淑芬</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic30.jpg" width="178" height="230"></li><li class="Con4txt">護理系主任<br>彭少貞</li><li class="Con5txt">102年06月01日接任</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic52.jpg" width="178" height="230"></li><li class="Con4txt">醫務管理系主任<br>藍毓莉</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic28.jpg" width="178" height="230"></li><li class="Con4txt">放射醫學科學研究所暨醫學影像暨放射科學系<br>所長  蔡長書</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic50.jpg" width="178" height="230"></li><li class="Con4txt">會計資訊系主任<br>吳善全</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic46.jpg" width="178" height="230"></li><li class="Con4txt">資訊工程系主任<br>賴志明</li></ul>
                <ul class="Con4ind" style="height:380px;"><li class="Con4img"><img src="/Images/Founding/pic/pic53.jpg" width="178" height="230"></li><li class="Con4txt">資訊工程系主任<br>林正榮</li><li class="Con5txt">102年02月01日接任</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic54.jpg" width="178" height="230"></li><li class="Con4txt">通識教育中心<br>主任 梁巧燕</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic45.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>謝麗華</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic43.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>蔡武霖</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic32.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>李長泰</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic30.jpg" width="178" height="230"></li><li class="Con4txt">進修學院暨進修推廣部主任<br>彭少貞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic4.jpg" width="178" height="230"></li><li class="Con4txt">圖書館主任<br>謝易達</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic7.jpg" width="178" height="230"></li><li class="Con4txt">電子計算機中心主任  杜信志</li></ul>
                <ul class="Con4ind" style="height:380px;"></ul>
                <ul style="width:800px;">102學年度</ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic82.jpg" width="178" height="230"></li><li class="Con4txt">主任秘書<br>何玉菁</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic40.jpg" width="178" height="230"></li><li class="Con4txt">教務長<br>蔡宗宏</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic36.jpg" width="178" height="230"></li><li class="Con4txt">學務長<br>牛江山</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic5.jpg" width="178" height="230"></li><li class="Con4txt">總務長<br>魏子昆</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic6.jpg" width="178" height="230"></li><li class="Con4txt">研發長<br>林祝君</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic30.jpg" alt="" width="178" height="230"></li><li class="Con4txt">護理系主任<br>彭少貞</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic52.jpg" width="178" height="230"></li><li class="Con4txt">醫務管理系主任<br>藍毓莉</li></ul>
                <ul class="Con4ind" style="height:400px;"><li class="Con4img"><img src="/Images/Founding/pic/pic84.jpg" width="178" height="230"></li><li class="Con4txt">放射醫學科學研究所暨醫學影像暨放射科學系<br>所長 楊晴晴</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic80.jpg" width="178" height="230"></li><li class="Con4txt">行銷與流通管理系主任 陳皇曄</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic53.jpg" width="178" height="230"></li><li class="Con4txt">資訊科技與管理系主任 林正榮</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic81.jpg" width="178" height="230"></li><li class="Con4txt">通識教育中心<br>主任 楊翼風</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic45.jpg" width="178" height="230"></li><li class="Con4txt">人文室主任<br>謝麗華</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic43.jpg" width="178" height="230"></li><li class="Con4txt">人事室主任<br>蔡武霖</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic32.jpg" width="178" height="230"></li><li class="Con4txt">會計室主任<br>李長泰</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic8.jpg" width="178" height="230"></li><li class="Con4txt">進修學院暨進修推廣部主任<br>游崑慈 </li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic4.jpg" width="178" height="230"></li><li class="Con4txt">圖書館主任<br>謝易達</li></ul>
                <ul class="Con4ind"><li class="Con4img"><img src="/Images/Founding/pic/pic7.jpg" width="178" height="230"></li><li class="Con4txt">電子計算機中心主任 杜信志</li></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
                <ul class="Con4ind"></ul>
            </ul>
            </ul>
            </ul>
        </div>
    </div>
    <div class="WINclose"><img src="/Images/Founding/close.png" width="60" height="66"></div>
</div>