@{
    ViewBag.Title = "證嚴上人與慈濟世界";
    string frontend = System.Web.Configuration.WebConfigurationManager.AppSettings["website.frontend"] + "/ClassBook/DownloadClassBook";
    string message = ViewBag.tmpMsg as string;
}

@section Scripts {
    <script src='@Url.Content("~/Scripts/jquery-ui/jquery-ui.js")'></script>
    <link href="@Url.Content("~/Scripts/jquery-ui/jquery-ui.css")" rel="stylesheet">
    <style type="text/css">
        .auto-style1 {
            font-size: small;
        }

        .auto-style2 {
            text-align: center;
        }

        .auto-style3 {
            font-size: small;
            text-align: center;
        }

        .auto-style4 {
            color: #FF6300;
            font-size: medium;
        }

        .fileUpload {
            position: relative;
            overflow: hidden;
            margin: 10px;
        }

            .fileUpload input.upload {
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                font-size: 20px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
            }
    </style>
    <script type="text/javascript">
        $(function () {
            //上傳
            $(".upload").change(function () {
                var file = this.files[0];
                var fileName = $(this).val().replace(/C:\\fakepath\\/i, '');
                var fileExtension = fileName.replace(/^.*\./, '');
                var data_filename = $(this).attr('data-filename');

                if (fileExtension != "xml") {
                    alert("僅接受 xml 格式檔案。");
                } else {
                    if (confirm("即將上傳" + fileName + "，確定上傳？")) {
                        var formData = new FormData();
                        formData.append("filedata", file);
                        formData.append("coverPath", "Scripts/book/");
                        formData.append("fileName", data_filename);
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("UploadMaintainData", "FileUtility")',
                            data: formData,
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                if (response == "true") {
                                    alert("上傳成功");
                                } else {
                                    alert("上傳失敗");
                                }
                            },
                            error: function (error) {
                                alert("上傳失敗");
                            }
                        });
                    }
                }

                $(this).val('');
            });
        });
    </script>

}
<h2>證嚴上人與慈濟世界</h2>
<div style="padding-left:20px; padding-top:10px;">    
    <table>
        <tr>
            <td colspan="2"><div class="auto-style4"><strong>上人的教育理念</strong></div></td>
        </tr>
        <tr>
            <td style="text-align:right"><label class="control-label">上人的教育理念xml檔案：</label></td>
            <td>
                <a class="btn btn-success" target="_blank" href="/TeachPhilosophy/DownloadTeachPhilosophy?num=1">下載</a>
                <div class="fileUpload btn btn-primary">
                    <span>上傳</span>
                    <input name="filedata" type="file" class="upload" data-filename="book_world_book1.xml" />
                </div>
            </td>
        </tr>
        <tr>
            <td style="text-align:right"><label class="control-label">大捨無求xml檔案：</label></td>
            <td>
                <a class="btn btn-success" target="_blank" href="/TeachPhilosophy/DownloadTeachPhilosophy?num=2">下載</a>
                <div class="fileUpload btn btn-primary">
                    <span>上傳</span>
                    <input name="filedata" type="file" class="upload" data-filename="book_world_book2.xml" />
                </div>
            </td>
        </tr>
        <tr>
            <td style="text-align:right"><label class="control-label">完全教育xml檔案：</label></td>
            <td>
                <a class="btn btn-success" target="_blank" href="/TeachPhilosophy/DownloadTeachPhilosophy?num=3">下載</a>
                <div class="fileUpload btn btn-primary">
                    <span>上傳</span>
                    <input name="filedata" type="file" class="upload" data-filename="book_world_book3.xml" />
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <br />
                <div class="auto-style4"><strong>慈濟世界</strong></div>
            </td>
        </tr>
        <tr>
            <td style="text-align:right"><label class="control-label">慈濟世界xml檔案：</label></td>
            <td>
                <a class="btn btn-success" target="_blank" href="/TeachPhilosophy/DownloadTeachPhilosophy?num=4">下載</a>
                <div class="fileUpload btn btn-primary">
                    <span>上傳</span>
                    <input name="filedata" type="file" class="upload" data-filename="book_world_book4.xml" />
                </div>
            </td>
        </tr>
        <tr>
            <td style="text-align:right"><label class="control-label">四大八法xml檔案：</label></td>
            <td>
                <a class="btn btn-success" target="_blank" href="/TeachPhilosophy/DownloadTeachPhilosophy?num=5">下載</a>
                <div class="fileUpload btn btn-primary">
                    <span>上傳</span>
                    <input name="filedata" type="file" class="upload" data-filename="book_world_book5.xml" />
                </div>
            </td>
        </tr>
    </table>
</div>
<br>

