<!--class = 圖片名稱-->
<div class="cont2btn2">
    <div class="WINtxt">
        <ul class="Title">林碧玉副總</ul>
        <ul class="Line"><img src="~/Images/Founding//line.png" width="1150" height="2"></ul>
        @*<ul class="Button">
            <li class="books3"><a href="#">對學校的貢獻與幫助</a></li>
            <li class="booksline"><img src="~/Images/Founding//book/line.png" width="1" height="50"></li>
            <li class="books4"><a href="#">祝福與起許</a></li
        </ul>*@
        <div class="showContent">
            <ul class="Content" style="width:1100px;">
                <img src="/Images/Founding/img/img73.jpg" width="1030" height="500">
                <br>
                親力親為 溝通協調逾一載 校地終定案
                <p>早在籌建花蓮慈濟醫院、申請土地的時候，證嚴上人就指示林碧玉副總執行長，希望在醫院旁邊，設立護理專科學校，培育護理人員，把觀世音菩薩聞聲救苦的精神，落實在護理教育裡。 </p>
                <p>
                    當初林副總曾經提醒證嚴上人，如果在建院的規劃書內，一併提及設置護專，負擔會很重。不過，這是證嚴上人理想的第一步，也因此，在花蓮慈濟醫院啟用的第二個月，就開始籌備護專。
                </p>
                <p>
                    當初選擇護專地點的第一個想法，就是目前的靜思堂，因為就在醫院旁邊，距離最近嘛！可是到了教育部，才知道要設置護理專科學校，最少的校地要十公頃，也因此，林副總開始積極尋找土地。
                </p>
                <p>
                    當時，從尋覓學校土地到一個地主、一個地主去談，溝通協調整整超過一年的時間。後來，買了八公頃的土地，以及護專校地對面的二公頃土地，就這樣湊足十公頃，開始興建護專。
                </p>
                <p>
                    即使在創校開學前夕，三天兩頭都可以看到林副總巡視校園工程進度。早年教職員回憶起，有一天下了場好大的雨，林副總還是親自勘查工程。方才踏出教室，林副總整隻腳便陷入泥濘之中，拔不出來。好不容易抽出了腳，竟讓鞋子陷在裏面。卻也沒法子，只得穿著一隻鞋子上車。 懿德母姐會創舉 <br>
                </p>
                <p>
                    師生磨合期長 反受教育部肯定
                </p>
                <p>
                    在成立護專時，也特別成立了一個籌備委員會，邀請了醫界的精神領袖，像是前台大醫學院院長魏火曜，擔任籌備委員會的主任委員，還有杜詩棉院長、曾文賓 院長、楊思標教授等人。以及，護理界的菁英，像是國立護專校長沈蓉，還有就是台大醫學院護理系主任高紀惠、台大護理部主任周照芳等護理界的先進來參與。 <br>
                </p>
                <p>
                    感恩教育部很支持慈濟興建護理學校。但那時，面臨的另一個問題，就是護理師資的缺乏，尤其又是東部地區。於是，證嚴上人誠懇的邀請楊思標教授，擔任第一任校長。（因為楊思標教授年齡已逾教育部規定的六十五歲，為了讓慈濟護專準時開學，只好變通辦法，聘請楊教授為代理校長。）在辦學初期，證嚴上人很堅持生活教育，認為「如果學生沒有對自己的使命、責任，有更深刻的體會，如何能成為觀世音菩薩，去照顧病人呢？」
                </p>
                <p>
                    那時學校規定要穿制服，還有素食、生活教育等，可是，其他的護專都沒有穿制服。還有，推動懿德媽媽制度，不但學生很反彈，為什麼多了三個媽媽，是不是來管我、來監督我的？老師也覺得，這些懿德媽媽的學歷是什麼？是不是都有碩士資格？如果沒有，怎麼有資格來帶動學生的生活教育呢？加上，在教育部評鑑時，部分學生向教育部官員反應，認為懿德媽媽是在法制外、體制外，又弄了一個體制外的教學。
                </p>
                <p>
                    但是沒有想到，這些專家反而站起來說，慈濟護專這個創舉，是台灣應該要做的事情。即使在國外，也一直想要推動的教育理念。「今天慈濟證嚴法師帶動慈濟護專，對將來整個台灣的教育，會有很好、很正面的影響。」不只這樣，教育部的主管回去之後，還推動各級學校要有志工媽媽的制度。   <br>
                    <br>
                    <img src="/Images/Founding/img/img40.jpg" width="1030" height="500">
                </p>
                <p>
                    <br>
                </p>
            </ul>
        </div>
    </div>
    <div class="WINclose"><img src="~/Images/Founding//close.png" width="60" height="66" style="margin-top:70px"></div>
</div>

<div class="cont2btn3">
    <div class="WINtxt">
        <ul class="Title">陳紹明副總</ul>
        <ul class="Line"><img src="~/Images/Founding//line.png" width="1150" height="2"></ul>
        @*<ul class="Button">
            <li class="books3"><a href="#">對學校的貢獻與幫助</a></li>*@
            @*<li class="booksline"><img src="~/Images/Founding//book/line.png" width="1" height="50"></li>
            <li class="books4"><a href="#">祝福與起許</a></li>*@
        @*</ul>*@
        <div class="showContent">
            <ul class="Content" style="width:1100px;">
                <img src="/Images/Founding/img/img42.jpg" width="1030" height="500">
                <br>
                見證慈濟教育25年
                <p>
                    1989年慈濟護專創校第一年，管理臺聚塑膠工廠的陳紹明先生，以志工的身份被聘任為護專董事，並擔任普通化學科講師，每週從台北到花蓮來授課，在當初師資極度缺乏的時候，承擔起教學的工作。其實，早在1981年，因瞭解慈濟在做濟貧救人的善舉，陳紹明先生深受感動，於是加入了慈濟。
                </p>
                <p>
                    尤其，陳紹明副總執行長的同修師姊黃月玫（慈暉媽媽），也是當初第一屆懿德母姐會三十六位懿德媽媽之一。所謂「慈濟緣繫一線牽」，讓陳紹明副總執行長從此與慈濟結下不解之緣，開始參與教學與校務工作，更見證了慈濟護專從無到有的過程。從一片雜草荒蕪、荊棘遍地的碎石堆中，逐漸闢建出一棟棟典雅樸實的校舍，一座座巍峨壯觀、深具人文氣息的教學大樓。
                </p>
                <p>
                    身為慈濟技術學院駐校董事，陳紹明副總執行長得出席學校許多重要會議，從中瞭解學校實際運作情形。同時，也站在董事會（慈濟基金會）的立場，陳紹明副總鼎力支持學生前往國外交流、海外實習等，進而挹注校方許多經費。尤其，以原住民專班增班，更是令人眾人所稱道。
                </p>
                <p>
                    2011年起，經教育部核准，慈濟技術學院原住民專班再增加50名招生名額，錄取名額共100名。對慈濟基金會來說，所資助的金額，涵蓋100名學生五年求學期間的學雜費、住宿、伙食、實驗、實習服、制服、皮鞋、教科書等費用，以及每月 3,000元至5,000元的零用金，讓原住民學生得以安心就學，也成為了慈濟技術學院的另一項辦學特色。
                </p>
                <p>
                    不論是面對海外來賓或校內教職員，每每陳紹明副總執行長致詞時，總不忘提及當年證嚴上人是如何從克難慈濟功德會開始慈善等工作，也不忘叮嚀大家，慈濟護專是慈濟教育志業的起點，千萬不要忘記慈濟辦學的初衷與理念！
                </p>
                <p>
                    陳紹明副總執行長曾經提及，驀然回首，無數篳路藍縷、胼手胝足的鏡頭，一幕幕地湧現，細訴著校史發展中的點點滴滴與艱辛歷程。慈濟技術學院25年來，為證嚴上人的教育理念，奠定了堅持的基礎，更開啟了教育志業的嶄新史頁！<br><img src="/Images/Founding/img/img41.jpg" width="1030" height="500">
                    <br>
                    深懷前瞻性器識  型塑恢宏性願景
                </p>
                <p>
                    2014/08/05<br>
                    悠悠歲月飛逝，回首來時路，繼往開來，憶及創校初期，在人力、物力兩缺下，備極艱辛，蓽路藍縷，經營不易，而繼慈善、醫療志業之後，相續教育志業的創立，嘉惠花東地區的莘莘學子。
                </p>
                <p>教育為國家百年之大計，所謂十年樹木，百年樹人，是一項很重要的希望工程，也是一條漫長的路，它需要堅韌不拔的毅力與勇氣，持之以恆，用心地長期投入，才能收到立竿見影之效。</p>
                <p>光陰荏苒，轉眼間，技術學院已邁入第二十五週年，從最迷你的&rdquo;護專&rdquo;107人創立開始，後來漸擴班增系科至升格為&rdquo;技術學院&rdquo;，其間歷經四任校長，努力用心辦學，堅守 上人創校的理念，立下良好的學習環境，樹立了優質的人文校風，在技職院校體系中，建構唯一專業與人文並重的學府。就此為國家培育許多菁英人才，供慈濟志業體及社會各界所用，殊勘欣慰。</p>
                <p>環顧二十五年來，一如往常，校務順利推展，無論在教學、學術研究、學生輔導、人文教育推廣、志工學習服務、產學合作、國際交流、海內外策略聯盟伙伴和學校締結等，成效卓著；其間屢獲教育部多次辦學績優獎項，以及學生參加校外各種競賽也獲佳績。並年年獲得教育部獎補助款，以及教學卓越計畫高額獎助，不僅提昇學校的聲譽，也對改善教學助益良多，值得讚賞與嘉許。</p>
                <p>近年來，由於高科技發展，突飛猛進，日新月異，致社會型態與產業結構，掀起很大的變化，衝激學校教育走向，為因應時代潮流，教育目標也要與時調整，尤其台灣人口結構，已邁入高齡化，少子化的年代，生源大幅的減少，招生愈加困難，學校是否能永續經營，將面臨很大的挑戰。</p>
                <p>為因應教育環境的變化，思考對策，首要洞悉先機，掌握社會脈動，產業需求，設定具有高瞻遠囑的目標，在非常時期，要有膽識，勇於突破現狀，重新審視校務發展目標，凝聚共識，強化團隊合作，以聚焦創新創意研發，打破學科藩籬，多元化跨領域學程，將最新資訊，融入課程，建構務實致用，學用合一之教學特色，以提昇競爭力。再者，組織目標，要有深懷前瞻性之器識，型塑恢宏性之願景來引導方向，才能因應變局，走在時代的先端，立於不敗之地。</p>
                <p>因緣際會，有幸見證學校二十五年的發展，有慈濟基金會做後盾， 上人的鼎力支持，才能讓學校在辦學上做得順，行的穩，期待全校同仁要有感恩回饋心，深切體悟，志為人師的責任與使命，除認真教學外，恪遵  上人「教之以禮，育之以德」的真實義，務必落實，塑造出具有高超人品涵養的學子。祈願，掌握核心優勢，追求卓越，為後人再創造下一個二十五年的優質學府，才是教職員生之福，學校之光，謹此共勉之。</p>
                <p>&nbsp; </p>
            </ul>
        </div>
    </div>
    <div class="WINclose"><img src="~/Images/Founding//close.png" width="60" height="66" style="margin-top:70px"></div>
</div>

<div class="cont2btn4">
    <div class="WINtxt">
        <ul class="Title">王端正副總</ul>
        <ul class="Line"><img src="~/Images/Founding//line.png" width="1150" height="2"></ul>
        @*<ul class="Button">
            <li class="books3"><a href="#">對學校的貢獻與幫助</a></li>
            <li class="booksline"><img src="~/Images/Founding//book/line.png" width="1" height="50"></li>
            <li class="books4"><a href="#">祝福與起許</a></li>
        </ul>*@
        <div class="showContent">
            <ul class="Content" style="width:1100px;">
                <p>
                    <strong>
                        <img src="/Images/Founding/img/img74.jpg" width="1030" height="500"><br>
                        畫龍點「睛」的慈濟人文
                    </strong>
                </p>
                <p>為了推廣人文教育，慈濟技術學院早在1991年（也就是創校二年後）設立「人文室」，主動規劃人文教育課程、推廣人文活動，讓學生得以提升人文涵養，在當年，可是教育界的創舉，如今，已是慈濟學校獨特的教育特色。</p>
                <p>當時學校規劃花道、茶道的人文專業教室時，王端正副總執行長曾建議張芙美校長、洪素貞主任到日本去觀摩，也希望從內在的精神開始培養，再落實在生活的教育裡。</p>
                <p>2011年4月，在慈濟人文評鑑會議中，王端正副總執行長建議，學校應思索慈濟人文教育的持續性與完整性，可多考慮每個年級的課程銜接，讓學生從一入學，就能在慈濟人文的氛維下，持續薰陶至畢業離校。也因此，從2012年（100學年度第2學期）起，慈濟技術學院開始推動慈濟人文學程。</p>
                <p>王副總明確指出「慈濟人文」，就是慈濟教育的精髓。慈濟要的不是一般的人才，要辦的也不是一般的教育，慈濟的教育首重品德，強調全人化、全方位，要能解行並重、術德兼修。</p>
                <p>
                    王副總列出二條公式，（身教＋言教＋境教＋愛心）＊人文＝教育過程的滿意度，（理想＋熱忱＋方法＋耐心）＊人文＝教育結果的滿意度，二者相加，即為教育功德的圓滿度。<br>
                    王端正副總解釋，需釐清知識與智慧的差異。以慈濟志工為例，不一定有高深的知識，但是藉由參與、體悟、啟發，卻能獲得高度的智慧。所以，知識若不能實踐，就只是白紙黑字，無法成為力量。同樣的，教育要有理想，理想必須堅持，以北大遴選新生為例，列出「不孝敬父母」，不能被推薦遴選，輿論為之譁然。王副總強調，慈濟要辦的教育，是登峰造極、諄諄善誘、明辨是非、學會生活的教育。
                </p>
                <p>
                    慈濟基金會副總執行長王端正重申，慈濟辦學並非趕流行，而是有所堅持，所以，不論慈大、技術學院到慈中、慈小，均接受人文評鑑，檢視各校對品德、生活教育與人文涵養的落實。<br>
                    <strong><img src="/Images/Founding/img/img43.jpg" width="1030" height="500"></strong><br>
                </p>
            </ul>
        </div>
        @*<div class="showContent">
            <ul class="Content" style="width:1100px;">
                祝福與期許
                <br>
                尚未提供
            </ul>
        </div>*@
    </div>
    <div class="WINclose"><img src="~/Images/Founding//close.png" width="60" height="66" style="margin-top:70px"></div>
</div>