<!--class = 圖片名稱-->
<div class="cont1btn1">
    <div class="WINtxt">
        <ul class="Title">籌備階段</ul>
        <ul class="Line"><img src="~/Images/Founding/line.png" width="1150" height="2"></ul>
        <div class="showContent">
            <ul class="Content" style="width:1100px;">
                慈濟護專建校籌備委員會名單
                <br>
                魏火曜 — 前台大醫學院院長
                <br>
                楊思標 — 前台大醫學院院長、時任台大醫學院教授
                <br>
                杜詩棉 — 時任慈濟醫院院長
                <br>
                曾文賓 — 時任慈濟醫院副院長
                <br>
                沈蓉 — 時任國立護專校長
                <br>
                高紀惠 — 時任台大醫學院護理系主任
                <br>
                周照芳 — 時任台大護理部主任
                <br>
                黃梅 — 前衛生署保健處副處長
                <br>
                王瑋 — 時任榮民總醫院護理部主任
                <br>
                馬桐齡 — 時任國防醫學院護理系主任
                <br>
                林王美園 — 時任衛生署保健處第一科科長
                <img src="/Images/Founding/img/img1.jpg" width="1030">
                <br>
                <p>
                    慈濟功德會創立之初，證嚴法師從慈善志業中察覺「因病而貧」的社會問題，於是啟建慈濟醫院，在籌設之初即有辦校培育良醫良護的想法；1987年3月向教育部提案申請設立慈濟護專，次年7月底動工，至1989年9月開學。<br>
                    <img src="/Images/Founding/img/img3.jpg" width="1030"><br>
                    從破土動工到開學典禮，剛好是一年又二個月的時間。在這麼短的時間內，同時提出申請、設計藍圖、動工……，在教育界來說，實在是史無前例。
                </p>
            </ul>
        </div>
    </div>
    <div class="WINclose"><img src="~/Images/Founding/close.png" width="60" height="66" style="margin-top:70px"></div>
</div>

<div class="cont1btn2">
    <div class="WINtxt">
        <ul class="Title">教育目標與教育理念</ul>
        <ul class="Line"><img src="~/Images/Founding/line.png" width="1150" height="2"></ul>
        <ul class="Button">
            <li class="books3"><a href="#">創校宗旨與教育理念</a></li>
            <li class="booksline"><img src="~/Images/Founding/book/line.png" width="1" height="50"></li>
            <li class="books2"><a href="#">本校沿革</a></li>
        </ul>
        <div class="showContent">
            <ul class="Content" style="width:1100px;">
                創校宗旨
                <br>
                1.培育國家社會暨儲備慈濟志業人才。
                <br>
                2.照顧原住民就學就業問題。
                <br>
                3.解決東部護理及醫事人力不足。
                <br>
                4.提供社區民眾終身學習資源。 </p>
                <img src="/Images/Founding/img/img4.jpg" width="1030">
                <br>
                教育理念
                <br>
                學校發展的願景，以「專業、人文、服務、卓越」為主軸：
                <br>
                1.「專業」是我們從事教育工作的「本份」；
                <br>
                2.「人文」是我們從事教育工作的「文化」；
                <br>
                3.「服務」是我們從事教育工作的「態度」；
                <br>
                4.「卓越」是我們從事教育工作的「使命」。
                <img src="/Images/Founding/img/img5.jpg" width="1030">
            </ul>
        </div>
        <div class="showContent">
            <ul class="Content" style="width:1100px;">
                本校沿革
                <br>
                <p>
                    1.1989年創立，設置二年制護理科。 <br>
                    2.1990年設置五年制護理助產科，1991年改為護理科 <br>
                    3.1995年增設二年制復健科、幼兒保育科及醫務管理科。 <br>
                    4.1996年增設二年制日間部放射技術科，開始以單獨招生方式辦理原住民學生免費就讀本校五年制護理科。 <br>
                    5.1999年改制為慈濟技術學院，設置大學部二年制日間部物理治療系、放射技術系、醫務管理系、幼兒保育系，並停招專科部二年制日間部放射技術科、物理治療科 ( 原復健科 ) 及二年制夜間部護理科普通班。 <br>
                    6.2000年增設四年制日間部物理治療系、放射技術系、醫務管理系、幼兒保育系、會計系；二年制日間部醫務管理科停招；另增設 : 二年制夜間部幼兒保育科在職專班及二年制進修部醫務管理系在職專班。 <br>
                    7.2006年增設四年制資訊工程系一班，二年制日間部護理系增招一班。 <br>
                    8.2008年增設放射醫學科學研究所碩士班，招生6名。 <br>
                    9.2012年放射技術系改名為醫學影像暨放射科學系。 <br>
                    10.2013年會計資訊系改名為行銷與流通管理系，資訊工程系改名為資訊科技與管理系。 <br>
                    11.2014年增設四年制護理系一班。
                </p>
                12.目前本校日間部四年制設有護理系、醫務管理系、行銷與流通管理系、資訊科技與管理系、醫學影像暨放射科學系，日間部五專設有護理科、日間部二年制設有護理系，研究所設有放射醫學科學研究所，並設有進修推廣部與進修學院。
                <img src="/Images/Founding/img/img2.jpg" width="1030">
                <img src="/Images/Founding/img/img6.jpg" width="1030">
                <img src="/Images/Founding/img/img7.jpg" width="1030">
            </ul>
        </div>
    </div>
    <div class="WINclose"><img src="~/Images/Founding/close.png" width="60" height="66"></div>
</div>

<div class="cont1btn3">
    <div class="WINtxt">
        <ul class="Title">破土典禮</ul>
        <ul class="Line"><img src="~/Images/Founding/line.png" width="1150" height="2"></ul>
        <div class="showContent">
            <ul class="Content" style="width:1100px;">
                1988年7月31日，慈濟護專破土典禮，有三千餘人與會。

                <br>
                <img src="/Images/Founding/img/img8.jpg" width="1030" height="500">
                <br>
                巨型挖土機舉起長串鞭炮，在熱烈爆竹聲中，由證嚴法師、慈濟醫院院長杜詩棉、副院長曾文賓、護專校長楊思標、縣長陳清水、縣議會議長李傳芳等人共
                <br>
                同執鏟，雖然只是每個人的一鏟土，卻是邁開花東地區醫療、護理水準的一大步。
                <br>
                <img src="/Images/Founding/img/img9.jpg" width="1030" height="500">
                <br>
                動工典禮當天，剛好是農曆的6月18日。
                <br>
                證嚴上人特地選在觀世音菩薩成道紀念日（農曆6月19日）的前一天，舉行動工典禮，是希望能夠培養聞聲救苦，然後能夠有慈悲心，就像白衣大士的護理
                人
                員。
                <br>
                <img src="/Images/Founding/img/img10.jpg" width="1030" height="500">
                <br>
                「美好的慈濟遠景即將在我們手牽手、肩並肩，團結努力之下展現！」
                <br>
                證嚴法師說。
                <br>
                當時，台灣僅有12所護專，卻全在西部。
                <br>
                證嚴法師表示，在花蓮設立護專，除了配合慈濟醫院的需求外，也請求教育部
                <br>
                准予原住民學生的保障名額，希望能使東部少女們學得一技之長，並提供公費
                <br>
                方式（免繳學雜費、住宿費、膳食費，每月每人另有3000元助學金），以減輕
                <br>
                經濟負擔，使家境清寒而有心向學者，能有就學的機會。
                <img src="/Images/Founding/img/img11.jpg" width="1030" height="500">
            </ul>
        </div>
    </div>
    <div class="WINclose"><img src="~/Images/Founding/close.png" width="60" height="66" style="margin-top:70px"></div>
</div>

<div class="cont1btn4">
    <div class="WINtxt">
        <ul class="Title">創校開學典禮</ul>
        <ul class="Line"><img src="~/Images/Founding/line.png" width="1150" height="2"></ul>

        <div class="showContent">
            <ul class="Content" style="width:1100px;">
                <img src="/Images/Founding/img/img18.jpg" width="1030" height="500">
                <br>
                1989年9月17日，慈濟護專創校開學典禮，到場觀禮的佛教界長老、各界貴賓
                以及慈濟功德會海內外會員，達兩萬多人，場面莊嚴盛大，遊覽車川流不息。
                <br>
                <img src="/Images/Founding/img/img12.jpg" width="1030" height="500">
                <br>
                <br>
                <img src="/Images/Founding/img/img13.jpg" width="1030" height="500">
                <br>
                花蓮慈濟醫院十幾位醫師也在場；立於偌大校地，烈日狂風，但他們努力撐下
                去。現任花蓮慈濟醫學中心泌尿科主任郭漢崇說：「因為大家都知道，唯有培
                育出護理人才，才能支援醫院日益不足的護理人力。」
                在花蓮四維高中軍樂隊演奏「慈濟頌」引導下，慈濟醫院護理人員身著白色制服，與慈濟功德會委員分列兩側，成歡迎隊伍。
                <br>
                <img src="/Images/Founding/img/img14.jpg" width="1030" height="500">
                <br>
                十時三十分，「梅花進行曲」響起，五位穿著粉綠與白色相間校服的護專學生
                ，分執國旗、教旗與校旗入場，全體學生分兩縱隊跟進至主席台前。
                <br>
                <img src="/Images/Founding/img/img15.jpg" width="1030" height="500">
                <br>
                在大會司儀指揮下，一百零七名學生與全場兩萬觀禮人潮，雙手合十向佛陀問
                訊，齊聲三稱「南無本師釋迦牟尼佛」。
                應邀擔任大會主席的新竹福嚴佛學院
                院長真華法師，讚譽證嚴法師領導海內外三十餘萬人組成的「慈濟世界」，以
                濟世救人胸懷推展「慈善、醫療、教育、文化」志業，展現殊勝成果；現更向
                教育邁開大步，實在是慈濟世界的真情、慈悲為懷的最高境界，並呼籲全國佛
                教界予以支持。
                <br>
                <img src="/Images/Founding/img/img16.jpg" width="1030" height="500">
                <br>
                慈濟護專校長楊思標，期勉同學秉持「慈濟精神」，以「白衣大士」悲懷服務
                東部民眾。同時希望政府有關單位，能在明年准予招收五專新生，以增加護理
                人員的供需，並提供東部少女就學機會。他進一步指出，慈濟護專採公費制，
                無異是將十二年國民教育延長為十四年。<br>
                時任行政院衛生署署長施純仁，代表
                行政院向慈濟功德會致謝，慈濟護專的創辦，將有助於提升東部醫療水準，開
                辦五專的計劃，衛生署一定全力支持；同時希望同學們珍惜還凝聚三十萬人愛
                心的恩情，於完成公費教育後，獻身社會醫療服務。教育部醫學教育委員會主
                任委員，也是慈濟護專創校籌備委員的魏火曜教授，亦期勉同學以服務東部病
                患為志向，擔負偏遠地區的護理重任。
                <br>
                <img src="/Images/Founding/img/img17.jpg" width="1030" height="500">
                <br>
                十一時三十分，創校開學典禮在全場合唱「慈濟護專校歌」，圓滿閉幕。
                除了韓國藥水寺住持妙喜法師，是日到場觀禮貴賓，尚有晴虛法師、嚴持法師
                、本覺法師、傳孝法師等近百位法師；以及立委員林鈺祥、前花蓮縣長吳水雲
                、省議員吳國棟、前花蓮縣議會議長王慶豐、花蓮縣長李傳芳、前台中市長林
                柏榕、台大醫院院長林國信、台大醫學院院長黃伯超暨國防醫學院、榮總、台
                大等醫院護理部主任。
		<br>
                一百零七名新生入學，萬眾一心護持，示現慈濟對教育志業的殷切期待。尤其
                ，慈濟護專辦學以「質」為重，平均每五位學生就有一位老師指導，在當年以
                量為主的教育取向上，的確是極其少見的。
            </ul>
        </div>
    </div>
    <div class="WINclose"><img src="~/Images/Founding/close.png" width="60" height="66" style="margin-top:70px"></div>
</div>

<div class="cont1btn5">
    <div class="WINtxt">
        <ul class="Title">改制技術學院</ul>
        <ul class="Line"><img src="~/Images/Founding/line.png" width="1150" height="2"></ul>
        <div class="showContent">
            <ul class="Content" style="width:1100px;">
                <img src="/Images/Founding/img/img19.jpg" width="1030" height="500">
                <br>
                1999年8月1日改制為「慈濟技術學院」，12月29日舉行揭碑儀式。
                <br>
                <img src="/Images/Founding/img/img20.jpg" width="1030" height="500">
                <br>
                當證嚴上人及志業體主管揭下紅布幔的那一刻，象徵慈濟教育志業又往前邁出
                <br>
                一大步。
                <br>
                <img src="/Images/Founding/img/img21.jpg" width="1030" height="500">
                <br>
                證嚴上人致勉同學們，要長存大愛心，普度眾生。「不要忘記慈濟技術學院『
                <br>
                技術』兩字的前面是『慈濟』，『慈』就是希望普天下的眾生都能過得幸福，
                <br>
                『濟』是要以大愛去愛眾生。所以，學校提供大家學習護理技術之外，還有品
                <br>
                德及愛心的教育。」
                證嚴上人期許大家，不管將來做什麼，都要有大愛之心─
                <br>
                愛普天下眾生，讓長情大愛永不息。
                <br>
                張芙美校長表示，既慶祝佛教慈濟護理專科學校創校十週年，又慶祝慈濟護專
                <br>
                改制為技術學院，可謂雙喜臨門，不只是一件值得慶祝的美事，也是一個深具
                <br>
                歷史意義的大日子。
                <br>
                改制為慈濟技術學院，設置大學部二年制日間部物理治療系、放射技術系、醫
                <br>
                務管理系、幼兒保育系，並停招專科部二年制日間部放射技術科、物理治療科
                <br>
                ( 原復健科 ) 及二年制夜間部護理科普通班。
                <br>
                欣逢慈濟護專創立十週年暨改制技術學院，師生均以歡欣鼓舞的心情來慶祝。
                <br>
                然而，九月二十一日大地震，讓台灣遭逢百年巨變，也震碎了災民身心。因此
                <br>
                ，學校擴大舉辦愛心義賣園遊會，將義賣所得投入賑災，募得款項捐助災區「
                <br>
                希望工程」的重建。
                <br>
                <img src="/Images/Founding/img/img22.jpg" width="1030" height="500">
                <br>
                <img src="/Images/Founding/img/img23.jpg" width="1030" height="500">
                <br>
                <br>
                改制後，慈濟技術學院的努力目標：
                <br>
                一、積極推動慈濟教育志業的科系整合，以善用和充實教育資源。
                <br>
                二、統整專業課程的一貫性，以解決多階段專業學程的銜接難題。
                <br>
                三、加強人文素養，落實全人教育特色。
                <br>
                四、加強產學合作及推廣教育，回饋社區。
                <br>
                五、維護高品質校風，實踐慈悲喜捨校訓。
                <br>
                <br>
            </ul>
        </div>
    </div>
    <div class="WINclose"><img src="~/Images/Founding/close.png" width="60" height="66" style="margin-top:70px"></div>
</div>

<div class="cont1btn6">
    <div class="WINtxt">
        <ul class="Title">原住民重點學校</ul>
        <ul class="Line"><img src="~/Images/Founding/line.png" width="1150" height="2"></ul>
        <ul class="Button">
            <li class="books2"><a href="#">歷史背景</a></li>
            <li class="booksline"><img src="~/Images/Founding/book/line.png" width="1" height="50"></li>
            <li class="books4"><a href="#">原住民專班</a></li>
            <li class="booksline"><img src="~/Images/Founding/book/line.png" width="1" height="50"></li>
            <li class="books4"><a href="#">相關統計數據</a></li>
        </ul>
        <div class="showContent">
            <ul class="Content" style="width:1150px;">
                1996年，奉教育部核定設五年制護理科原住民學生專班一班（50人），並指定
                <br>
                為原住民重點學校。2011年起，經教育部核准，原住民專班再增加50名招生名
                <br>
                額，錄取名額共100名。

                <br>
                <img src="/Images/Founding/img/img25.jpg" width="1030" height="500">
                <br>
                慈濟基金會提供原住民公費生學雜、住宿、伙食、實驗、實習服、制服、
                <br>
                皮鞋、教科書等費用，以及每月零用金 3,000元，學期平均70分以上者，每月
                <br>
                零用金5,000元，建立原住民學生安心就學環境。

                <br>
                <img src="/Images/Founding/img/img26.jpg" width="1030" height="500">
                <br>
                <img src="/Images/Founding/img/img31.jpg" width="1030" height="500">
                <br>
                <img src="/Images/Founding/img/img30.jpg" width="1030" height="500">
                <br>
                1999年，學校成立了原住民博物館，保存創校以來陸續蒐集的珍藏原住民文物。同時，也在圖書館增闢原住民特藏區，收藏鄉土文化教育典籍書冊，為原住民傳統文化之保存盡一份心力。
                <br>
                <img src="/Images/Founding/img/img27.jpg" width="1030" height="500">
                <br>
                <img src="/Images/Founding/img/img29.jpg" width="1030" height="500">
                <br>
                學校有將近四分之一、約五百位原住民學生，涵蓋十三個族群，分別是阿美族、排灣族、泰雅族、布農族、魯凱族、卑南族、鄒族、賽夏族、達悟族、噶瑪蘭族、太魯閣族、撒奇萊雅族、賽德克族。唯獨少了邵族、拉阿魯哇族、卡那卡那富族，就能彙整全台灣共十六族的原住民族群了。
                <br>
                <img src="/Images/Founding/img/img24.jpg" width="1030" height="500">
                <img src="/Images/Founding/img/img28.jpg" width="1030" height="500">
            </ul>
        </div>
        <div class="showContent">
            <ul class="Content" style="width:1150px;">
                原住民專班採獨立招生管道入學，每年吸引全台各地原住民報考。
                <br>
                <img src="/Images/Founding/img/img32.jpg" width="1030" height="500">
                <br>
                凡具有原住民身分的國中畢業生均可應考，考試科目為國文、英語及數學，考試成績達最低登記標準，即可辦理報到登記。
                <br>
                <img src="/Images/Founding/img/img34.jpg" width="1030" height="500">
                <br>
                入學後，學校將原住民生與一般生混合編班，實際推動族群互動與學習，加強原住民學生的補救教學，建立學習支援管道，協助各系辦理「考照輔導專班」，提昇原住民學生畢業就業率。
                <br>
                <img src="/Images/Founding/img/img36.jpg" width="1030" height="500">
                <br>
                學務處原住民事務組辦理多元文化講座、文化體驗營、原住民藝術課程及舞蹈研習等活動，甚至，編撰原住民族族醫護會話手冊，協助學生於醫院實際運用，增進全校師生對原住民文化的認識與瞭解。
                <br>
                <img src="/Images/Founding/img/img33.jpg" width="1030" height="500">
                <br>
                在校期間，不少原住民學生主動加入天主教或基督教社團（磐石社、天同社、光鹽社、原住民青年服務社等），既尊重原住民學生的宗教信仰，也多了歸屬感。尤其，社團多舉辦淨灘、淨河堤、偏鄉部落關懷等志工服務，讓原住民學生發揮專業所學、回饋鄉親，更強化了原住民學生的自信心與使命感。
                <img src="/Images/Founding/img/img35.jpg" width="1030" height="500">
                <br>
            </ul>
        </div>
        <div class="showContent">
            <ul class="Content" style="width:1150px;">
                原住民公費生五年補助經費概算表
                <br>
                <img src="/Images/Founding/img/img75.jpg" width="703" height="462">
                <br>
                <img src="/Images/Founding/img/img76.jpg" width="597" height="836">
                <img src="/Images/Founding/img/img77.jpg" width="879" height="505">
            </ul>
        </div>
    </div>
    <div class="WINclose"><img src="~/Images/Founding/close.png" width="60" height="66"></div>
</div>

<div class="cont1btn7">
    <div class="WINtxt">
        <ul class="Title">校訓、校歌、校徽</ul>
        <ul class="Line"><img src="~/Images/Founding/line.png" width="1150" height="2"></ul>
        <ul class="Button">
            <li class="books5"><a href="#">校訓</a></li>
            <li class="booksline"><img src="~/Images/Founding/book/line.png" width="1" height="50"></li>
            <li class="books5"><a href="#">校徽</a></li>
            <li class="booksline"><img src="~/Images/Founding/line.png" width="1" height="50"></li>
            <li class="books5"><a href="#">校歌</a></li>
        </ul>
        <div class="showContent">
            <ul class="Content" style="width:620px;">
                慈、悲、喜、捨。
                <br>
                <br>
                慈－是「無緣大慈」，是清靜無染，眾親平等的大愛，如慈母之於稚子，無所求的與樂。
                <br>
                悲－是「同體大悲」，是人傷我痛，是人苦我悲的憐憫，如菩提之於眾生，無條件的拔苦。
                <br>
                喜－是「以持正法起喜心」，得正知、持正念、行正法、走正道的輕安，如益友之見所交，離惡向善，離苦得樂的喜愛。
                <br>
                捨－是「以攝智慧起捨心」，是無尤的付出，無怨的服務，如良師之於學生，無保留的傾囊相授，如嚴父之於子，不求回報的給予。
            </ul>
            <ul class="ConImg">
                <img src="/Images/Founding/cont1img1.jpg" width="405" height="770">
            </ul>
        </div>
        <div class="showContent">
            <ul class="Content" style="width:1100px;">
                <img src="/Images/Founding/img/img38.jpg">
                <br>
                花果並生：取蓮花作為徽記，蓮花出淤泥而不染，象徵一股清新脫俗的暖流。
                <br>
                意謂在慈濟團體中，時時下種開花，日日花開見果。
                <br>
                <br>
                八片花瓣：慈濟人時時依八正道而行。
                <br>
                <br>
                八正道是：正見、正思惟、正語、正業、正命、正精進、正念、 正定等八種盡離邪非的正法。
                <br>
                <br>
                開啟書本：教育志業，代表生命的啟迪、知識的學習。
                <br>
                <br>
                護理之冠（護士帽）：護專，膚慰、給予、付出的白衣大士精神。
                <br>
                <br>
            </ul>
        </div>
        <div class="showContent">
            <ul class="Content" style="width:1100px;">
                <audio controls>
                    <source src="/Images/Founding/song.ogg" type="audio/ogg">
                    <source src="/Images/Founding/song.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <br>
                詞, 高信疆. 曲,  史擷詠
                <br>
                多少希望　 依偎在我們的身旁
                <br>
                多少的祝福　寄託在我們肩上
                <br>
                生老病苦　 需要雨露和陽光
                <br>
                慈懷柔腸　 輕輕撫平那創傷
                <br>
                少年的心像蓮花一樣
                <br>
                蓮花一樣
                <br>
                在慈濟滋潤下 綻 放
                <br>
                求真求善　服務是我們的信仰
                <br>
                救苦救難　慈悲就是力量
                <br>
                人傷我痛　讓愛照亮黑暗
                <br>
                慈濟 慈濟　我們是護理榮光
                <br>
                少年的心像蓮花一樣
                <br>
                蓮花一樣
                <br>
                在慈濟滋潤下 綻 放
                <br>
                <img src="/Images/Founding/img/img39.jpg" width="700" height="1195">
            </ul>
            </div>
    </div>
    <div class="WINclose"><img src="~/Images/Founding/close.png" width="60" height="66"></div>
</div>