@{
    ViewBag.Title = "校史館 - 資訊查詢 | 校園日誌";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/slick.js")"></script>
    <script type="text/javascript" src="~/Scripts/inform/js/modernizr.custom.79639.js"></script>
    <script>
        $(function () {

        });
    </script>
}

@section styles{
    <noscript>
        <link rel="stylesheet" type="text/css" href="~/Scripts/inform/css/noJS.css" />
    </noscript>

    <link href="~/Scripts/inform/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/inform/css/reset.css" rel="stylesheet" type="text/css">
    <link href="~/Scripts/inform/css/tzuchi.css" rel="stylesheet" type="text/css">
    <link href="~/Scripts/inform/css/inform.css" rel="stylesheet" type="text/css">
    <style>

    </style>
}


<div class="wbox1">
    <!--左邊標題-->
    <div class="leftbox"><img src="~/Scripts/inform/~/Scripts/inform/images/inform/title_s4.png" width="134" height="750"></div>
    <!--中間表格-->
    <div class="centerbox">
        <!--內文1-->
        <div class="tztable2">
            <ul class="title_01">
                <li class="title_02">2014</li>
                <li class="title_03">____________</li>
                <li class="title_04">06.17</li>
            </ul>
            <ul class="title_05">
                醫務管理系學會期末晚會
                <br>
                運動休閒風
            </ul>
            <ul class="title_06">
                <span class="glow">
                    <iframe width="690" height="470" src="http://www.youtube.com/embed/DQxXLW3OTqY" frameborder="0" allowfullscreen></iframe>
                </span>
            </ul>
            <ul>
                <li class="intxt3">
                    <h2>
                        <span class="news1">
                            撰稿：秘書室文宣公關組 葉秀品、陳雅柔<br>
                            拍照：秘書室文宣公關組 陳雅柔、科管四三乙 姜郁雯
                        </span>
                    </h2>
                    <h1>
                        <span class="news2">
                            世界足球盃比賽盛況空前，六月十三日，醫務管理系舉辦期末晚會，以運動休閒風為主題，邀請系上同學穿著運動風的裝扮，不管是籃球衣、足球裝等，希望同學跟著世足的潮流一起慶祝。

                            系上同學陸續簽到入場，有人興奮討論彼此身上的穿著，有人開始拍照留念。<br>
                            醫務管理系學會指導老師劉籹君及助理教授賴美祁致詞，期許大家開心參加晚會。接著，我們安排一連串精采的表演，包括醫管系學會工作人員的舞蹈表演、無厘頭康輔社、熱音社，以及慈濟大學異國舞蹈社，魅力不減的社團表演，讓同學目不轉睛、掌聲連連，衛生福利部花蓮醫院院長黃瑞明也特地到場同樂。 <br>
                            現場特別安排「乒乓大賽」及「超級比一比」兩項團康，邀請師生及工作人員上台，不僅能認識新朋友，增進彼此情感，優勝組又能獲得獎品。<br>
                            遊戲考驗團隊合作與信任，大家鍥而不捨的精神，更是值得讚許。在參賽者認真又帶點逗趣的比賽下，送出六份小獎品給優勝組，同時，也準備美味的自助吧及解渴飲料給大家享用。
                        </span>
                    </h1>
                </li>
                <li class="gettxt1"></li>
            </ul>
            <ul class="intxt4">
                <h2>
                    <span class="title_07">
                        2012/10/15
                        <br>
                        學海任我行英語、日文、韓文營
                    </span>
                    <span class="title_07">
                        <img src="~/Scripts/inform/images/news/news1.jpg" width="210" height="145" class="glow">
                    </span>
                </h2>

                <h2>
                    <span class="title_07">
                        2013/3/13
                        <br>
                        500位羅東高商師生參訪本校
                    </span>
                    <span class="title_07">
                        <img src="~/Scripts/inform/images/news/news2.jpg" width="210" height="145" class="glow">
                    </span>
                </h2>

                <h2>
                    <span class="title_07">
                        2013/5/21
                        <br>
                        海外英語暨文化研習營行前培訓
                    </span>
                    <span class="title_07">
                        <img src="~/Scripts/inform/images/news/news3.jpg" width="210" height="145" class="glow">
                    </span>
                </h2>

                <h2>
                    <span class="title_07">
                        2013/3/13
                        <br>
                        海外志工大會
                    </span>
                    <span class="title_07">
                        <img src="~/Scripts/inform/images/news/news4.jpg" width="210" height="145" class="glow">
                    </span>
                </h2>

                <h2>
                    <span class="title_07">
                        2013/3/13
                        <br>
                        海外志工大會
                    </span>
                    <span class="title_07">
                        <img src="~/Scripts/inform/images/news/news4.jpg" width="210" height="145" class="glow">
                    </span>
                </h2>

                <h2>
                    <span class="title_07">
                        2013/3/13
                        <br>
                        海外志工大會
                    </span>
                    <span class="title_07">
                        <img src="~/Scripts/inform/images/news/news4.jpg" width="210" height="145" class="glow">
                    </span>
                </h2>

                <h2>
                    <span class="title_07">
                        2013/3/13
                        <br>
                        海外志工大會
                    </span>
                    <span class="title_07">
                        <img src="~/Scripts/inform/images/news/news4.jpg" width="210" height="145" class="glow">
                    </span>
                </h2>

                <h2>
                    <span class="title_07">
                        2013/3/13
                        <br>
                        海外志工大會
                    </span>
                    <span class="title_07">
                        <img src="~/Scripts/inform/images/news/news4.jpg" width="210" height="145" class="glow">
                    </span>
                </h2>

                <h2>
                    <span class="title_07">
                        2013/3/13
                        <br>
                        海外志工大會
                    </span>
                    <span class="title_07">
                        <img src="~/Scripts/inform/images/news/news4.jpg" width="210" height="145" class="glow">
                    </span>
                </h2>
            </ul>
        </div>
    </div>
    <!--右邊選單-->
    <div class="rightbox">
        <section class="main">
            <div class="wrapper-demo">
                <div id="dd" class="wrapper-dropdown-5" tabindex="1" style="z-index:3" ;>
                    年度
                    <ul class="dropdown">
                        <li><a href="#">103年</a></li>
                        <li><a href="#">102年</a></li>
                        <li><a href="#">101年</a></li>
                        <li><a href="#">100年</a></li>
                        <li><a href="#">99年</a></li>
                        <li><a href="#">98年</a></li>
                        <li><a href="#">97年</a></li>
                        <li><a href="#">96年</a></li>
                        <li><a href="#">95年</a></li>
                    </ul>
                </div>
                <div id="dd" class="wrapper-dropdown-5" tabindex="1" style="z-index:2" ;>
                    月份
                    <ul class="dropdown" style="overflow-y:scroll;height:230px" ;>
                        <li><a href="#">一月</a></li>
                        <li><a href="#">二月</a></li>
                        <li><a href="#">三月</a></li>
                        <li><a href="#">四月</a></li>
                        <li><a href="#">五月</a></li>
                        <li><a href="#">六月</a></li>
                        <li><a href="#">七月</a></li>
                        <li><a href="#">八月</a></li>
                        <li><a href="#">九月</a></li>
                        <li><a href="#">十月</a></li>
                        <li><a href="#">十一月</a></li>
                        <li><a href="#">十二月</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <div>
            <ul class="menu5">
                <input name="textfield" type="text" class="textbox" id="textfield" value="輸入|" size="10" maxlength="5">
            </ul>
        </div>
        <div>
            <ul class="btnsearch"><a href="inform_1_search.html">搜尋</a></ul>
        </div>
        <!-- jQuery if needed -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript">

            function DropDown(el) {
                this.dd = el;
                this.initEvents();
            }
            DropDown.prototype = {
                initEvents: function () {
                    var obj = this;

                    obj.dd.on('click', function (event) {
                        $(this).toggleClass('active');
                        event.stopPropagation();
                    });
                }
            }

            $(function () {

                var dd = new DropDown($('#dd'));

                $(document).click(function () {
                    // all dropdowns
                    $('.wrapper-dropdown-5').removeClass('active');
                });
            });

        </script>
        <div class="div2">
            <ul class="btnIcon"><a href="inform.html"></a></ul>
        </div>
    </div>
</div>
</div>