@{
    ViewBag.Title = "校史館 - 資訊查詢 | 校景相簿";
}

@section scripts {
    <script src="@Url.Content("~/Scripts/slick_h.js")"></script>
    <script>
        $(function () {
            setCenter();
        });

        function setCenter() {
            var mainWidth = $(".wbox1").width();
            var centerWidht = $('.slider').width();
            var setCenterW = mainWidth / 2 - centerWidht / 2;

            var mainHeight = $(".wbox1").height();Q
            var centerHeight = $('.slider').height();
            var setCenterH = mainHeight / 2 - centerHeight / 2;
            $('.divcenter').offset({
                top: setCenterH,
                right: setCenterW
            });
            $('.slider').slick({
                centerMode: false,
                dots: false,
                vertical: false,
                slidesToShow: 3,
                infinite: true
            });
        }

    </script>

}

@section styles{
    <link href="~/Content/slick.css" rel="stylesheet" />
    <link href="~/Scripts/inform/css/reset.css" rel="stylesheet" type="text/css">
    <link href="~/Scripts/inform/css/tzuchi.css" rel="stylesheet" type="text/css">
    <link href="~/Scripts/inform/css/inform.css" rel="stylesheet" type="text/css">
    <link href="~/Scripts/inform/css/maptip.css" rel="stylesheet" type="text/css">

    <style>
        .slider {
            position: absolute;
            width: 1267px;
            width: 847px;
            top: 50%;
            left: 50%;
            margin-top: -633.5px;
            margin-left: -423.5px;
        }
    </style>

}

<div class="wbox1">
    <!--左邊標題-->
    <div class="leftbox"><img src="~/Scripts/inform/images/inform/title_s2.png" width="134" height="750"></div>
    <!--中間表格-->
    <div class="centerbox">
        <div class="slider">
            <div class="glow">
                <img src="~/Scripts/inform/images/picture/slide1.jpg" width="950" height="635">
            </div>
            <div class="glow">
                <img src="~/Scripts/inform/images/picture/slide2.jpg" width="950" height="635">
            </div>
            <div class="glow">
                <img src="~/Scripts/inform/images/picture/slide3.jpg" width="950" height="635">
            </div>
            <div class="glow">
                <img src="~/Scripts/inform/images/picture/slide1.jpg" width="950" height="635">
            </div>
            <div class="glow">
                <img src="~/Scripts/inform/images/picture/slide2.jpg" width="950" height="635">
            </div>
            <div class="glow">
                <img src="~/Scripts/inform/images/picture/slide3.jpg" width="950" height="635">
            </div>
        </div>
    </div>
    <!--右邊選單-->
    <div class="rightbox">
        <div class="picmenu1">
            <ul class="menu1"><img src="~/Scripts/inform/images/picture/menu_1.png" width="263" height="70"></ul>
            <ul class="picmenu2"><a href="#"></a></ul>
            <ul class="picmenu4">
                <li class="picmenu5"><a href="inform_2_pic.html"></a></li>
                <li class="picmenu6"><a href="inform_2_pic.html"></a></li>
                <li class="picmenu7"><a href="inform_2_pic.html"></a></li>
                <li class="picmenu8"><a href="inform_2_pic.html"></a></li>
                <li class="picmenu9"><a href="inform_2_pic.html"></a></li>
                <li class="picmenu10"><a href="inform_2_pic.html"></a></li>
            </ul>
            <ul class="picmenu3"><a href="#"></a></ul>
            <div class="picmenu11">
                <ul class="btnIconp"><a href="inform.html"></a></ul>
            </div>
        </div>
    </div>
</div>


