@{
    ViewBag.Title = "校史館 - 資訊查詢 | 校園日誌";
}

@section scripts {

}

@section styles{
    <link href="~/Scripts/inform/css/reset.css" rel="stylesheet" type="text/css">
    <link href="~/Scripts/inform/css/inform.css" rel="stylesheet" type="text/css">
}

<div class="informwrapper">
    <!--左邊-->
    <div class="sidebar1"><img src="images/inform/title_s1.png" width="134" height="750"></div>
    <div class="content">
        <!--內文一-->
        <h1 class="Seaimage"><span class="Seaimagetxt">搜尋 . . . . . . 樂齡</span></h1>
        <h1 class="Search"><span class="Seartxt">2014.06.17 .......................................................................樂齡大學結業式 </span></h1>
        <h1 class="Search"><span class="Seartxt">2013.10.12 .......................................................................樂齡大學結業式 </span></h1>
        <h1 class="Search"><span class="Seartxt">2012.10.15 .........................................................................樂齡大學成立 </span></h1>
    </div>

    <div class="sidebar2">
        <ui>
            <p class="menu1"><img src="images/inform/menu_1.png" width="263" height="70"></p>
            <p class="menu2"><a href="#"></a></p>
            <p class="menu3"><a href="#">103學年</a></p>
            <p class="menu3"><a href="#">102學年</a></p>
            <p class="menu3"><a href="#">101學年</a></p>
        </ui>
        <ui>
            <p class="menu4"><a href="#"></a></p>
            <p class="menu3"><a href="#">第一學期</a></p>
            <p class="menu3"><a href="#">第二學期</a></p>
        </ui>
        <ui>
            <p class="menu5">
                <input name="textfield" type="text" class="textbox" id="textfield" value="樂齡" size="10" maxlength="5">
            </p>
            <p class="btns"><a href="#"></a></p>
        </ui>
        <ui>
            <p class="btnIcon"><a href="inform.html"></a></p>
        </ui>
    </div>
</div>
