@{
    ViewBag.Title = "ScrollSearchSchoolDiary";
}


@foreach (var item in ViewBag.DataModel)
{
    <ul class="Search">
        <span class="Seartxt"><a href="#">2014.06.17 .......................................................................FADEIN大學結業式 </a></span>
    </ul>
}



