
<div class="flipbook" style="left:36px;top:24px;">
    <!-- 為了一開始顯示兩頁,這裡放一個空DIV -->
    <div></div>
    <!-- 以下放入各個頁面 -->
    <div style="background-image:url(/Images/TeachPhilosophy/c8/page1.jpg)" width="750" height="905"></div>
    <div style="background-image:url(/Images/TeachPhilosophy/c8/page2.jpg)" width="750" height="905"></div>
    <div style="background-image:url(/Images/TeachPhilosophy/c8/page3.jpg)" width="750" height="905"></div>
    <div style="background-image:url(/Images/TeachPhilosophy/c8/page4.jpg)" width="750" height="905"></div>
</div>