<div class="centerbox">
	<!--內文1-->
	<div class="tztable1">
		
		
		
		<div id="picDiv1" style="">進修推廣部特別加入體育課，讓阿公阿嬤活動筋骨動起來。</div>
		<ul class="imgintxt1 slider-for slick-initialized slick-slider">
			<div class="slick-list draggable" tabindex="0">
				<div class="slick-track" style="opacity: 1; width: 3366px;">
					<span class="slider-for-el slick-slide slick-active" index="0" style="width: 561px; position: relative; left: 0px; top: 0px; z-index: 900; opacity: 1;">
						<div style="width:561px;height:437px;display: table-cell;  vertical-align: middle;" align="center">




							<img style="box-shadow: 2px  2px 16px rgba(0, 0, 0, 0.6)" class="glow-img" width="561" data-info="進修推廣部特別加入體育課，讓阿公阿嬤活動筋骨動起來。" src="http://203.64.34.2/imgs/zooming/561/437/20171110/3fea6a92-acb2-41b5-8b45-ce85e055b431.jpg">
						</div>
					</span><span class="slider-for-el slick-slide" index="1" style="width: 561px; position: relative; left: -561px; top: 0px; z-index: 800; opacity: 0;">
						<div style="width:561px;height:437px;display: table-cell;  vertical-align: middle;" align="center">




							<img style="box-shadow: 2px  2px 16px rgba(0, 0, 0, 0.6)" class="glow-img" width="561" data-info="順著太極柔力球的慣性，其實並不難。" src="http://203.64.34.2/imgs/zooming/561/437/20171110/82a65124-5c21-4be7-9778-dec731e931d2.JPG">
						</div>
					</span><span class="slider-for-el slick-slide" index="2" style="width: 561px; position: relative; left: -1122px; top: 0px; z-index: 800; opacity: 0;">
						<div style="width:561px;height:437px;display: table-cell;  vertical-align: middle;" align="center">




							<img style="box-shadow: 2px  2px 16px rgba(0, 0, 0, 0.6)" class="glow-img" width="561" data-info="在瞄準、擊球、拾球的過程中鍛鍊全身。" src="http://203.64.34.2/imgs/zooming/561/437/20171110/31c9ff2b-9841-4568-b1b9-95cf64366ce3.jpg">
						</div>
					</span><span class="slider-for-el slick-slide" index="3" style="width: 561px; position: relative; left: -1683px; top: 0px; z-index: 800; opacity: 0;">
						<div style="width:561px;height:437px;display: table-cell;  vertical-align: middle;" align="center">




							<img style="box-shadow: 2px  2px 16px rgba(0, 0, 0, 0.6)" class="glow-img" width="561" data-info="進修推廣部特別加入體育課，讓阿公阿嬤活動筋骨動起來。" src="http://203.64.34.2/imgs/zooming/561/437/20171110/3fea6a92-acb2-41b5-8b45-ce85e055b431.jpg">
						</div>
					</span><span class="slider-for-el slick-slide" index="4" style="width: 561px; position: relative; left: -2244px; top: 0px; z-index: 800; opacity: 0;">
						<div style="width:561px;height:437px;display: table-cell;  vertical-align: middle;" align="center">




							<img style="box-shadow: 2px  2px 16px rgba(0, 0, 0, 0.6)" class="glow-img" width="561" data-info="順著太極柔力球的慣性，其實並不難。" src="http://203.64.34.2/imgs/zooming/561/437/20171110/82a65124-5c21-4be7-9778-dec731e931d2.JPG">
						</div>
					</span><span class="slider-for-el slick-slide" index="5" style="width: 561px; position: relative; left: -2805px; top: 0px; z-index: 800; opacity: 0;">
						<div style="width:561px;height:437px;display: table-cell;  vertical-align: middle;" align="center">




							<img style="box-shadow: 2px  2px 16px rgba(0, 0, 0, 0.6)" class="glow-img" width="561" data-info="在瞄準、擊球、拾球的過程中鍛鍊全身。" src="http://203.64.34.2/imgs/zooming/561/437/20171110/31c9ff2b-9841-4568-b1b9-95cf64366ce3.jpg">
						</div>
					</span>
				</div>
			</div>





			<button type="button" data-role="none" class="slick-prev" style="display: inline-block;">Previous</button>
			<button type="button" data-role="none" class="slick-next" style="display: inline-block;">Next</button>
		</ul>


		<ul class="imgintxt2">
			<li class="arrowl" style="margin-left:-5px;">
				<a id="prev" href="javascript:void(0)">
					<img src="/Scripts/inform/images/inform/arrowl.png" width="20" height="27">
				</a>
			</li>
			<li class="slider-nav slick-initialized slick-slider" style="float:left;margin-left:10px;">
				<div class="slick-list draggable" tabindex="0">
					<div class="slick-track" style="opacity: 1; width: 2040px; transform: translate3d(-510px, 0px, 0px);">
						<div class="newglow slick-slide slick-cloned" index="3" style="width: 170px;">
							<div style="display: table-cell; vertical-align: middle; align:center; width:170px ; height:130px">



								<img width="172" style="max-height:124px; text-align: center; margin-left: auto; margin-right: auto;" class="newglow-img" src="http://203.64.34.2/imgs/zooming/172/124/20171110/3fea6a92-acb2-41b5-8b45-ce85e055b431.jpg">
							</div>
						</div><div class="newglow slick-slide slick-cloned" index="4" style="width: 170px;">
							<div style="display: table-cell; vertical-align: middle; align:center; width:170px ; height:130px">



								<img width="172" style="max-height:124px; text-align: center; margin-left: auto; margin-right: auto;" class="newglow-img" src="http://203.64.34.2/imgs/zooming/172/124/20171110/82a65124-5c21-4be7-9778-dec731e931d2.JPG">
							</div>
						</div><div class="newglow slick-slide slick-cloned" index="5" style="width: 170px;">
							<div style="display: table-cell; vertical-align: middle; align:center; width:170px ; height:130px">



								<img width="172" style="max-height:124px; text-align: center; margin-left: auto; margin-right: auto;" class="newglow-img" src="http://203.64.34.2/imgs/zooming/172/124/20171110/31c9ff2b-9841-4568-b1b9-95cf64366ce3.jpg">
							</div>
						</div><div class="newglow slick-slide slick-active" index="0" style="width: 170px;">
							<div style="display: table-cell; vertical-align: middle; align:center; width:170px ; height:130px">



								<img width="172" style="max-height:124px; text-align: center; margin-left: auto; margin-right: auto;" class="newglow-img" src="http://203.64.34.2/imgs/zooming/172/124/20171110/3fea6a92-acb2-41b5-8b45-ce85e055b431.jpg">
							</div>
						</div><div class="newglow slick-slide slick-active hollow" index="1" style="width: 170px;">
							<div style="display: table-cell; vertical-align: middle; align:center; width:170px ; height:130px">



								<img width="172" style="max-height:124px; text-align: center; margin-left: auto; margin-right: auto;" class="newglow-img" src="http://203.64.34.2/imgs/zooming/172/124/20171110/82a65124-5c21-4be7-9778-dec731e931d2.JPG">
							</div>
						</div><div class="newglow slick-slide slick-active hollow" index="2" style="width: 170px;">
							<div style="display: table-cell; vertical-align: middle; align:center; width:170px ; height:130px">



								<img width="172" style="max-height:124px; text-align: center; margin-left: auto; margin-right: auto;" class="newglow-img" src="http://203.64.34.2/imgs/zooming/172/124/20171110/31c9ff2b-9841-4568-b1b9-95cf64366ce3.jpg">
							</div>
						</div><div class="newglow slick-slide" index="3" style="width: 170px;">
							<div style="display: table-cell; vertical-align: middle; align:center; width:170px ; height:130px">



								<img width="172" style="max-height:124px; text-align: center; margin-left: auto; margin-right: auto;" class="newglow-img" src="http://203.64.34.2/imgs/zooming/172/124/20171110/3fea6a92-acb2-41b5-8b45-ce85e055b431.jpg">
							</div>
						</div><div class="newglow slick-slide" index="4" style="width: 170px;">
							<div style="display: table-cell; vertical-align: middle; align:center; width:170px ; height:130px">



								<img width="172" style="max-height:124px; text-align: center; margin-left: auto; margin-right: auto;" class="newglow-img" src="http://203.64.34.2/imgs/zooming/172/124/20171110/82a65124-5c21-4be7-9778-dec731e931d2.JPG">
							</div>
						</div><div class="newglow slick-slide" index="5" style="width: 170px;">
							<div style="display: table-cell; vertical-align: middle; align:center; width:170px ; height:130px">



								<img width="172" style="max-height:124px; text-align: center; margin-left: auto; margin-right: auto;" class="newglow-img" src="http://203.64.34.2/imgs/zooming/172/124/20171110/31c9ff2b-9841-4568-b1b9-95cf64366ce3.jpg">
							</div>
						</div><div class="newglow slick-slide slick-cloned" index="0" style="width: 170px;">
							<div style="display: table-cell; vertical-align: middle; align:center; width:170px ; height:130px">



								<img width="172" style="max-height:124px; text-align: center; margin-left: auto; margin-right: auto;" class="newglow-img" src="http://203.64.34.2/imgs/zooming/172/124/20171110/3fea6a92-acb2-41b5-8b45-ce85e055b431.jpg">
							</div>
						</div><div class="newglow slick-slide slick-cloned" index="1" style="width: 170px;">
							<div style="display: table-cell; vertical-align: middle; align:center; width:170px ; height:130px">



								<img width="172" style="max-height:124px; text-align: center; margin-left: auto; margin-right: auto;" class="newglow-img" src="http://203.64.34.2/imgs/zooming/172/124/20171110/82a65124-5c21-4be7-9778-dec731e931d2.JPG">
							</div>
						</div><div class="newglow slick-slide slick-cloned" index="2" style="width: 170px;">
							<div style="display: table-cell; vertical-align: middle; align:center; width:170px ; height:130px">



								<img width="172" style="max-height:124px; text-align: center; margin-left: auto; margin-right: auto;" class="newglow-img" src="http://203.64.34.2/imgs/zooming/172/124/20171110/31c9ff2b-9841-4568-b1b9-95cf64366ce3.jpg">
							</div>
						</div>
					</div>
				</div>





			</li>
			<div z-index="10" class="arrowl" style="float:right;margin-right:15px;margin-top:-10px">
				<a id="next" href="javascript:void(0)">
					<img src="/Scripts/inform/images/inform/arrowr.png" width="20" height="27">
				</a>
			</div>
		</ul>


		<ul class="qrcode"></ul>
	</div>
	<div id="getDiv" class="gettxt2"><a href="javascript:back()">返回</a></div>
</div>