@charset "utf-8";
@charset "utf-8";
/* CSS Document */

/*首頁框架*/

#waDiv {
			position: absolute;
			width: 544px;
			height: 327px;
			left: 1376px;
			top: 753px;
			z-index: 0;
		}
		#gobkDiv {
			position: absolute;
			width: 130px;
			height: 130px;
			left: 1761px;
			top: 880px;
			z-index: 2;
		}
		#bookDiv {
			position: absolute;
			width: 1580px;
			height: 1000px;
			left: 164px;
			top: 73px;
			z-index: 10;
		}
		#TabDiv {
			position: absolute;
			width: 70px;
			height: 905px;
			top: 101px;
			left: 1703px;
			/*z-index: 6;*//*tcust修改*/
			z-index: 999;
		}
		#MvDiv {
			position: absolute;
			width: 1920px;
			height: 1080px;
			z-index: 8;
			background-color: #333333;
			opacity: 0.5;
		}
		#MvDiv1 {
			position: absolute;
			width: 1120px;
			height: 620px;
			z-index: 10;
			left: 375px;
			top: 230px;
		}
        #waDiv{
            top:749px; 
        }
        body{
            overflow:hidden;
        }
            .noscroll { position: fixed; overflow-y:scroll }

.bk1Div {
    float: left;
    display: block;
    width: 1920px;
    height: 1080px;
    background-image: url('../../Images/ebook/bk1.jpg');
    background-repeat: no-repeat;
}

.btnDiv {
	float:left;
	display: block;
	width:727px;
	height:310px;
	margin: 212px 0px 0px 1193px;
	padding: 0px 0px 0px 0px;
}

.btn a{
	float:left;
	display:block;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

.btn a:hover{
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/*彈跳英文視窗*/
.TWmenu6bk {
	float:left;
	display:block;
	width:1530px;
	height:1080px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	background-color:#DBDCDC;
}

.TWWINup {
	float:left;
	display:block;
	width:930px;
	height:80px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

.TWWINdown{
	float:left;
	display:block;
	width:930px;
	height:620px;
	margin:0px 0px 0px 40px;
	padding:0px 0px 0px 0px;
}

.WINclose a {
    float: right;
    display: block;
    background-image: url('../../Images/ebook/close.png');
    margin: 20px 20px 10px 50px;
    padding: 0px 0px 0px 0px;
    width: 45px;
    height: 45px;
}

.WINclose a:hover{
    background-image: url('../../Images/ebook/close.png');
	
	-webkit-transform: scale(1.2);
    transform: scale(1.2);
}


/*電子書框架*/

.bookbk {
    float: left;
    display: block;
    width: 1580px;
    height: 1000px;
    padding-left:25px;
    /*background-image: url('../../Images/ebook/bk1.jpg');*/
    background-repeat: no-repeat;
}

.bookL {
	float:left;
	display: block;
	width:750px;
	height:905px;
	margin:25px 0px 0px 36px;
}

.bookR {
	float:left;
	display: block;
	width:750px;
	height:905px;
	margin:25px 0px 0px 0px;

}

/*影片框架*/
.Mv1 {
	float:left;
	display: block;
	margin:20px 0px 0px 50px;
	padding:0px 0px 0px 0px;
}

.Mvlist1{
	float:left;
	display: block;
	margin:20px 0px 0px 30px;
	padding:0px 20px 0px 0px;
	width:280px;
	height:850px;
}

.Mvtxt a{
	float:left;
	display: block;
	margin:10px 10px 10px 10px;
	padding:0px 0px 0px 0px;
	width:235px;
	font-family:"華康黑體", "微軟正黑體";
	font-size:18px;
	font-weight:bold;
	line-height:22px;
	color:#3C3736;
	text-align:left;
	text-decoration:none;
}

.Mvtxt a:hover {
	color:#666666;
}

.Mvglow {
	float:left;
	display: block;
	width:235px;
	height:165px;
	margin:0px 10px 20px 10px;
	padding:0px 0px 0px 0px;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

.Mvtxt1 a{
	float:left;
	display: block;
	margin:10px 10px 5px 10px;
	padding:0px 0px 0px 0px;
	width:200px;
	font-family:"華康黑體", "微軟正黑體";
	font-size:15px;
	font-weight:bold;
	line-height:18px;
	color:#3C3736;
	text-align:left;
	text-decoration:none;
}

.Mvtxt1 a:hover {
	color:#666666;
}

.Mvglow1 {
	float:left;
	display: block;
	width:200px;
	height:140px;
	margin:0px 10px 5px 10px;
	padding:0px 0px 0px 0px;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}

.glow {
	float:left;
	display: block;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
	box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.6);
}

.closewin {
	float:left;
	display:block;
	width:282px;
	height:66px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background-color:#959594;
	font-family:"微軟正黑體",  "Arial Unicode MS";
	font-size:26px;
	font-weight:bold;
	text-align:right;
	line-height:60px;
}

.MvRight {
    float: left;
    display: block;
    width: 282px;
    height: 554px;
    background-image: url('../../Images/ebook/mvlistbk.jpg');
   
}


/*上人的教育理念 content1框架*/
.cont1Div {
	float:left;
	display: block;
	width:1920px;
	height:1080px;
    background-image: url('../../Images/ebook/contbk1.jpg');
	background-repeat:no-repeat;
}

.cbtnmenu {
	float:left;
	display: block;
	margin:20px 0px 0px 203px;
	padding:0px 0px 0px 0px;
	width:1600px;
	height:40px;
}

.cbtnline {
	float:left;
	display: block;
	margin:-5px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	height:5px;
}

.cbtn1D {
	float:left;
	display: block;
	margin:0px 0px 0px 0px;
	padding:0px 20px 0px 20px;
/*	width:320px;*/
	height:45px;
	font-family:"華康仿宋體W6(P)", "微軟正黑體";
	font-size:36px;
	line-height:40px;
	color:#3C3736;
	text-align:center;
}

.cbtn1 a {
	float:left;
	display: block;
	margin:0px 0px 0px 0px;
	padding:0px 20px 0px 20px;
	height:45px;
	font-family:"華康仿宋體W6(P)", "微軟正黑體";
	font-size:36px;
	line-height:40px;
	color:#3C3736;
	text-decoration:none;
}

.cbtn1 a:hover {
	padding:0px 20px 0px 20px;
	color:#666666;
	text-shadow:1px 1px 4px 4px #ffffff;
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*慈濟世界 content2框架*/
.cont2Div {
    float: left;
    display: block;
    width: 1920px;
    height: 1080px;
    background-image: url('../../Images/ebook/contbk2.jpg');
    background-repeat: no-repeat;
}	

.cbtn2D {
	float:left;
	display: block;
	margin:0px 0px 0px 0px;
	padding:0px 10px 0px 10px;
    width:190px;
	height:45px;
	font-family:"華康仿宋體W6(P)", "微軟正黑體";
	font-size:36px;
	line-height:40px;
	color:#3C3736;
	text-align:center;
}
.cbtn2 a {
	float:left;
	display: block;
	margin:0px 0px 0px 0px;
	padding:0px 10px 0px 10px;
    width:auto;
	height:45px;
	font-family:"華康仿宋體W6(P)", "微軟正黑體";
	font-size:36px;
	line-height:40px;
	color:#3C3736;
	text-decoration:none;
}

.cbtn2 a:hover {
	padding:0px 10px 0px 10px;
	color:#666666;
	text-shadow:1px 1px 4px 4px #ffffff;
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.cTab a{
	float:left;
	display: block;
	cursor:pointer;
	margin:4px 0px 4px 0px;
	padding:15px 0px 0px 0px;
	width:50px;
	height:80px;
	background-image:url(../ebook/tabbk.jpg);
	/*background-color:#defff5;*/
	border-radius:0px 10px 10px 0px;
	box-shadow:0px 0px 8px #666666;
	font-family:"華康仿宋體W6(P)", "微軟正黑體";
	font-size:20px;
	line-height:20px;
	color:#3C3736;
	text-decoration:none;
	text-align:center;
}

.cTab a:hover {
	margin:2px 0px 2px 2px;
	color:#666666;
	text-shadow:0px 0px 1px 4px #999999;
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.cTab2 a{
	float:left;
	display: block;
	cursor:pointer;
	margin:4px 0px 4px 0px;
	padding:15px 0px 0px 0px;
	width:50px;
	height:100px;
	background-image:url(../ebook/tabbk.jpg);
	/*background-color:#defff5;*/
	border-radius:0px 10px 10px 0px;
	box-shadow:0px 0px 8px #666666;
	font-family:"華康仿宋體W6(P)", "微軟正黑體";
	font-size:20px;
	line-height:20px;
	color:#3C3736;
	text-decoration:none;
	text-align:center;
}

.cTab2 a:hover {
	margin:2px 0px 2px 2px;
	color:#666666;
	text-shadow:0px 0px 1px 4px #999999;
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(98,98,98,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
/* CSS Document */

