
#features{
    top: 100px;	
	z-index:2
}
		#waDiv {
			position: absolute;
			width: 544px;
			height: 327px;
			left: 1376px;
			top: 753px;
			z-index: 0;
		}
		#gobkDiv {
			position: absolute;
			width: 130px;
			height: 130px;
			left: 1761px;
			top: 880px;
			z-index: 2;
		}
		#bookDiv {
			position: absolute;
			width: 1580px;
			height: 1000px;
			left: 164px;
			top: 73px;
			z-index: 5;
		}
		#TabDiv {
			position: absolute;
			width: 70px;
			height: 905px;
			top: 101px;
			left: 1703px;
			/*z-index: 6;*//*tcust修改*/
			z-index: 1;
		}
		#MvDiv {
			position: absolute;
			width: 1920px;
			height: 1080px;
			z-index: 8;
			background-color: #333333;
			opacity: 0.5;
		}
		#MvDiv1 {
			position: absolute;
			width: 1120px;
			height: 620px;
			z-index: 10;
			left: 375px;
			top: 230px;
		}
        #waDiv{
            top:749px; 
        }
        body{
            overflow:hidden;
        }
            .noscroll { position: fixed; overflow-y:scroll }
.cont1Div {
    float: left;
    display: block;
    width: 1920px;
    height: 1080px;
    background-image: url('../../Images/ebook/contbk1.jpg');
    background-repeat: no-repeat;
}

.cont2Div {
	float:left;
	display: block;
	width:1920px;
	height:1080px;
    background-image: url('../../Images/ebook/contbk2.jpg');
	background-repeat:no-repeat;
}

.cont3Div {
	float:left;
	display: block;
	width:1920px;
	height:1080px;
    background-image: url('../../Images/ebook/contbk3.jpg');
	background-repeat:no-repeat;
}
/*tcust 翻頁控制 start*/
#toolbox{
	position:absolute;
	top:500px;
	right:66px;
	}
#toolbox li{
	width:100%;
	background:#ccc;
	color:#000;
	padding:5px;
	margin:10px;
	border-radius:5px;
	}
#toolbox a{
	font-size:14pt;
    font-family: "華康仿宋體W6(P)", "微軟正黑體";
}
#toolbox li:hover{
    transform: scale(1.1);
}

/*tcust 翻頁控制 over*/

html,body{margin:0px;}
			
	
/* CSS Document */

